{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}User Profile At a Glance{% endblock %}
{% block page_content %}
{{ super() }}
<html>
<<style media="screen">

</style>
<div class="user-profile">
  <div class="page-header">
    <h2>User Profile</h2>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">First Name:</div>
        <div class="panel-body">{{ current_user.first_name }}</div>
        <div class="panel-heading">Last Name:</div>
        <div class="panel-body">{{ patient_user.last_name }}</div>
        <div class="panel-heading">Date of Birth:</div>
        <div class="panel-body">{{ patient.date_of_birth }}</div>
        <div class="panel-heading">insurance ID:</div>
        <div class="panel-body">{{ patient.insurance_id }}</div>
        <div class="panel-heading">Email Address</div>
        <div class="panel-body">{{patient_user.email}}</div>
      </div></div></div>

{% if prescription %}
      <div class="panel panel-info">
        <div class="panel-heading">Prescriptions</div>
        {<div class = "container">
  <div class = "formwrapper">
  <div class = "row">
    <div class = "col-md-12">
      <table class = "table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Physician ID</th>
            <th scope="col">Start Date</th>
            <th scope="col">Expiration Date</th>
            <th scope="col">Description</th>
            <th scope="col">Active</th>
            <th scope="col">Notify</th>
          </tr>
        </thead>
        <tbody>
          {% for script in prescription %}
            <tr class="clickable-row" data-href="{{url_for('profile.patient')}}">
              <td>{{script.prescription_id}}</td>
              <td>{{script.physician_id}}</td>
              <td>{{script.date_prescribed}}</td>
              <td>{{script.expir_date}}</td>
              <td>{{script.description[:30]}}...</td>
              <td>

                <form action="{{ url_for('profile.patient') }}" method="post">
                  <div class="form-group">
                    <select class="form-control" id="active" name="active">
                      <option value={{script.prescription_id}}0>NO</option>
                      <option value={{script.prescription_id}}1>YES</option>
                    </select>
                  </div>
                    <div class="form-control">
                  <button class="btn btn-default" type="submit">Submit!</button>
                    </div>
                </form>

              </td>
              <td>{% if script.notify == 0 %}
                <form name="active" method="post">
                  <select>
                    <option value=0>NO</option>
                    <option value=1>YES</option>
                  </select>
                  <submit type="submit" name ="active"/>
                </form>
                  {% else %}
                  <form name="notify" method="post">
                    <select>
                      <option value=1>YES</option>
                      <option value=0>NO</option>
                    </select>
                    <submit type="submit" value ="UPDATE"/>
                  </form>
                  {% endif %}
              </td>
            </tr>
          {% endfor %}
        <tbody>
      </table>
    </div>
  </div>
</div>
</div>
{% endif %}

      <div>
        <ul>
          <li><a href="{{ url_for('prescript.new_prescription') }}">Create New Prescription</a>
        </ul>
      </div>
</html>
{% endblock %}
