{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}User Profile At a Glance{% endblock %}
{% block page_content %}
{{ super() }}
<style media="screen">
  .table-striped {
    display: block;
    width: 100%;
    overflow-y: scroll;
    max-height: 400px;
    width: 75%;
    margin: auto;
    color: black;
  }
  .table-striped th{
      background: #666666;
      position: sticky;
      top: 0;
  }
  .small-table{
    max-height: 105px;
  }
  .scrollable{
    overflow: scroll;
  }
  .user-profile {
    float: left;
    margin: auto;
    height:100%;
  }
  .main_contain{
    padding: 20px;
    border-radius: 10px;
    height: 555px;
    margin-top: 100px;
  }
  .center_content{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bawx{
    height: 100%;
    width: 100%;
  }

  .table_head{
    background: #666666;
    color: white;
    position: sticky;
    top: 0;
  }

  .smaller{
    padding: 0px;
    margin: 20px auto;
  }

</style>
<div class = "main_contain visible">
  <div class="user-profile">
          <div class="panel panel-primary">
            <div class="center_content panel-heading normal-corners">First Name:</div>
            <div class="center_content panel-body normal-corners">{{ patient_user.first_name }}</div>
            <div class="center_content panel-heading normal-corners">Last Name:</div>
            <div class="center_content panel-body normal-corners">{{ patient_user.last_name }}</div>
            <div class="center_content panel-heading normal-corners">Date of Birth:</div>
            <div class="center_content panel-body normal-corners">{{ patient.date_of_birth }}</div>
            <div class="center_content panel-heading normal-corners">insurance ID:</div>
            <div class="center_content panel-body normal-corners">{{ patient.insurance_id }}</div>
            <div class="center_content panel-heading normal-corners">Email Address</div>
            <div class="center_content panel-body normal-corners">{{patient_user.email}}</div>
        </div>
  </div>

  {% if health_check %}

    <div class="table-striped"  style = "background: white; padding: 0px; border-radius: 4px">
      <!-- Moved the New Prescription from above in order to keep it inline with table -->

      <table class = "table">
          <thead>
            <tr class = "table_head">
              <th scope="col">Record ID</th>
              <th scope="col">Physician ID</th>
              <th scope="col">Date of Checkup</th>
              <th scope="col">Height</th>
              <th scope="col">Weight</th>
              <th scope="col">BMI</th>
              <th scope="col">Gender</th>
              <th scope="col">Blood Pressure</th>
              <th scope="col">Blood Type</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            {% for check in health_check %}
              <tr class="clickable-row" data-href="{{url_for('profile.search')}}">
                <td>{{check.record_id}}</td>
                <td>{{check.physician_id}}</td>
                <td>{{check.date}}</td>
                <td>{{check.height}}</td>
                <td>{{check.weight}}</td>
                <td>{{check.bmi}}</td>
                <td>{% if check.gender == 0 %}
                    Female
                    {% else %}
                    Male
                    {% endif %}
                <td>{{check.blood_pressure}}</td>
                <td>{% if check.blood_type == 0 %}
                    O-
                    {% elif check.blood_type == 1 %}
                    O+
                    {% elif check.blood_type == 2 %}
                    A-
                    {% elif check.blood_type == 3 %}
                    A+
                    {% elif check.blood_type == 4 %}
                    B-
                    {% elif check.blood_type == 5 %}
                    B+
                    {% elif check.blood_type == 6 %}
                    AB-
                    {% elif check.blood_type == 7 %}
                    AB+
                    {% else %}
                    ??
                    {% endif %}</td>
                <td>{{check.description[:30]}}...</td>
                {% endfor %}
                </tbody>
                </table>
              </div>

              {% endif %}
  <!-- Going to leave this new prescription href in case it breaks anything I haven't considered. Consult Jack -->
  <!-- <div>
    <ul>
      <li><a href="{{ url_for('prescript.new_prescription') }}">Create New Prescription</a>
    </ul>
  </div> -->
  {% if prescription %}

    <div class="table-striped"  style = "background: white; padding: 0px; border-radius: 4px">
      <!-- Moved the New Prescription from above in order to keep it inline with table -->

      <table class = "table">
          <thead>
            <tr class = "table_head">
              <th scope="col">ID</th>
              <th scope="col">Physician ID</th>
              <th scope="col">Start Date</th>
              <th scope="col">Expiration Date</th>
              <th scope="col">Description</th>
              <th scope="col">Active</th>
              <th scope="col">Notify</th>
            </tr>
          </thead>
          <tbody>
            {% for script in prescription %}
              <tr class="clickable-row" data-href="{{url_for('profile.search')}}">
                <td>{{script.prescription_id}}</td>
                <td>{{script.physician_id}}</td>
                <td>{{script.date_prescribed}}</td>
                <td>{{script.expir_date}}</td>
                <td>{{script.description[:30]}}...</td>
                <td>{{script.active}}</td>
                <td>
                {% if script.notify %}
                <form action="{{ url_for('profile.search') }}" method="post">
                  <div class="form-group">
                    <select class="form-control" id="notify" name="notify">
                      <option value={{script.prescription_id}}1>YES</option>
                      <option value={{script.prescription_id}}0>NO</option>

                    </select>
                  </div>
                    <div class="submit">
                  <button class="btn btn-default" type="submit">Update</button>
                    </div>
                </form>
                {% else %}
                <form action="{{ url_for('profile.search') }}" method="post">
                  <div class="form-group">
                    <select class="form-control" id="notify" name="notify">
                      <option value={{script.prescription_id}}0>NO</option>
                      <option value={{script.prescription_id}}1>YES</option>
                    </select>
                  </div>
                    <div class="submit">
                  <button class="btn btn-default" type="submit">Update</button>
                    </div>
                </form>
                {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

{% endif %}
{% endblock %}
