{% extends "base.html" %}
{% block title %}Patient Search{% endblock %}
{% block page_content %}
<link href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"</script> -->
    <div class="form-style-9" style = "background: white">
      <div class = "search_wrap no_float">
        <input name="autocomplete" type="text" id="autocomplete" placeholder = "Search for a patient by last name..." class="full_text textbox form-control input-lg"/>
        <a href="{{ url_for('profile.search') }}" class = "button"><input title="Search" value="" type="submit" class="button"></a>
      </div>
    </div>
    <!-- <div class = -->
    <div>
    <script type="text/javascript">
      console.log('-1')
    </script>
    <script type="text/javascript">
      console.log('0')
      var selected_id = null
      $(function() {
        $.noConflict();
        console.log('1')
          $('#autocomplete').autocomplete({
              source:function(request, response) {
                  $.getJSON("{{url_for('profile.autocomplete')}}",{
                      q: request.term,
                       // in flask, "q" will be the argument to look for using request.args
                  }, function(data) {
                      console.log(data)

                      var array = data.Response === "False" ? [] : $.map(data.matching_results, function(m){
                        return{
                          label: m
                        };
                      });
                      console.log("hero")
                      console.log(array)
                      response(array); // matching_results from jsonify
                  });
              },
              minLength: 2,
              select: function(event, ui) {
                  console.log("hereo")
                  console.log(ui.item.value);
                  var selected_id = (ui.item.value[1]);
                  $.ajax({
                    type: 'POST',
                    url: "{{url_for('profile.autocomplete')}}",
                    data: JSON.stringify(selected_id),
                    contentType: 'application/json',
                });
              }
          });
      })


      </script>
      </div>
      <style media="screen">
        .table-striped {
          display: block;
          width: 100%;
          overflow-y: scroll;
          max-height: 500px;
          width: 75%;
          margin: auto;
          color: black;
        }
        .table-striped th{
            background: #666666;
            position: sticky;
            top: 0;
        }
        .scrollable{
          overflow: scroll;
        }
        .user-profile {
          float: left;
          margin: auto;
          height:100%;
        }
        .main_contain{
          padding: 20px;
          border-radius: 10px;
        }
        .center_content{
          display: flex;
        	justify-content: center;
          align-items: center;
        }
        .bawx{
          height: 100%;
          width: 100%;
        }

        .table_head{
          background: #666666;
          color: white;
          position: sticky;
          top: 0;
        }

      </style>
      <div class = "main_contain visible">
        <div class="user-profile">
                <div class="panel panel-primary">
                  <div class="center_content panel-heading normal-corners">First Name:</div>
                  <div class="center_content panel-body normal-corners">{{ patient_user.first_name }}</div>
                  <div class="center_content panel-heading normal-corners">Last Name:</div>
                  <div class="center_content panel-body normal-corners">{{ patient_user.last_name }}</div>
                  <div class="center_content panel-heading normal-corners">Date of Birth:</div>
                  <div class="center_content panel-body normal-corners">{{ patient.date_of_birth }}</div>
                  <div class="center_content panel-heading normal-corners">insurance ID:</div>
                  <div class="center_content panel-body normal-corners">{{ patient.insurance_id }}</div>
                  <div class="center_content panel-heading normal-corners">Email Address</div>
                  <div class="center_content panel-body normal-corners">{{patient_user.email}}</div>
                <div>
                  <ul>
                    <li class = "center_content"><a href="{{ url_for('prescript.new_prescription') }}"><input style = "font-size: 10px; margin:5px;" class="form-input-button" id="submit" name="submit" type="submit" value="Perscribe"></a>
                  </ul>
                </div>
                <div>
                  <ul>
                    <li class = "center_content"><a href="{{ url_for('health_check.new_health_check') }}"><input style = "font-size: 10px; margin:5px;" class="form-input-button" id="submit" name="submit" type="submit" value="Checkup"></a>
                  </ul>
                </div>
              </div>
        </div>

        {% if health_check %}

          <div class="table-striped"  style = "background: white; padding: 0px; border-radius: 4px">
            <!-- Moved the New Prescription from above in order to keep it inline with table -->

            <table class = "table">
                <thead>
                  <tr class = "table_head">
                    <th scope="col">Record ID</th>
                    <th scope="col">Physician ID</th>
                    <th scope="col">Date of Checkup</th>
                    <th scope="col">Height</th>
                    <th scope="col">Weight</th>
                    <th scope="col">BMI</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Blood Pressure</th>
                    <th scope="col">Blood Type</th>
                    <th scope="col">Description</th>
                  </tr>
                </thead>
                <tbody>
                  {% for check in health_check %}
                    <tr class="clickable-row" data-href="{{url_for('profile.search')}}">
                      <td>{{check.record_id}}</td>
                      <td>{{check.physician_id}}</td>
                      <td>{{check.date}}</td>
                      <td>{{check.height}}</td>
                      <td>{{check.weight}}</td>
                      <td>{{check.bmi}}</td>
                      <td>{% if check.gender == 0 %}
                          Female
                          {% else %}
                          Male
                          {% endif %}
                      <td>{{check.blood_pressure}}</td>
                      <td>{% if check.blood_type == 0 %}
                          O-
                          {% elif check.blood_type == 1 %}
                          O+
                          {% elif check.blood_type == 2 %}
                          A-
                          {% elif check.blood_type == 3 %}
                          A+
                          {% elif check.blood_type == 4 %}
                          B-
                          {% elif check.blood_type == 5 %}
                          B+
                          {% elif check.blood_type == 6 %}
                          AB-
                          {% elif check.blood_type == 7 %}
                          AB+
                          {% else %}
                          ??
                          {% endif %}</td>
                      <td>{{check.description[:30]}}...</td>
                      {% endfor %}
                      </tbody>
                      </table>
                    </div>

                    {% endif %}
        <!-- Going to leave this new prescription href in case it breaks anything I haven't considered. Consult Jack -->
        <!-- <div>
          <ul>
            <li><a href="{{ url_for('prescript.new_prescription') }}">Create New Prescription</a>
          </ul>
        </div> -->
        {% if prescription %}

          <div class="table-striped"  style = "background: white; padding: 0px; border-radius: 4px">
            <!-- Moved the New Prescription from above in order to keep it inline with table -->

            <table class = "table">
                <thead>
                  <tr class = "table_head">
                    <th scope="col">ID</th>
                    <th scope="col">Physician ID</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">Expiration Date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Active</th>
                    <th scope="col">Notify</th>
                  </tr>
                </thead>
                <tbody>
                  {% for script in prescription %}
                    <tr class="clickable-row" data-href="{{url_for('profile.search')}}">
                      <td>{{script.prescription_id}}</td>
                      <td>{{script.physician_id}}</td>
                      <td>{{script.date_prescribed}}</td>
                      <td>{{script.expir_date}}</td>
                      <td>{{script.description[:30]}}...</td>
                      <td>
                        {% if script.active %}
                      <form action="{{ url_for('profile.search') }}" method="post">
                        <div class="form-group">
                          <select class="form-control" id="active" name="active">
                            <option value={{script.prescription_id}}1>YES</option>
                            <option value={{script.prescription_id}}0>NO</option>
                          </select>
                        </div>
                          <div class="submit">
                        <button class="btn btn-default" type="submit">Update</button>
                          </div>
                      </form>
                      {% else %}
                      <form action="{{ url_for('profile.search') }}" method="post">
                        <div class="form-group">
                          <select class="form-control" id="active" name="active">
                            <option value={{script.prescription_id}}0>NO</option>
                            <option value={{script.prescription_id}}1>YES</option>
                          </select>
                        </div>
                          <div class="submit">
                        <button class="btn btn-default" type="submit">Update</button>
                          </div>
                      </form>
                      {% endif %}
                      </td>
                      <td>
                      {% if script.notify %}
                      <form action="{{ url_for('profile.search') }}" method="post">
                        <div class="form-group">
                          <select class="form-control" id="notify" name="notify">
                            <option value={{script.prescription_id}}1>YES</option>
                            <option value={{script.prescription_id}}0>NO</option>

                          </select>
                        </div>
                          <div class="submit">
                        <button class="btn btn-default" type="submit">Update</button>
                          </div>
                      </form>
                      {% else %}
                      <form action="{{ url_for('profile.search') }}" method="post">
                        <div class="form-group">
                          <select class="form-control" id="notify" name="notify">
                            <option value={{script.prescription_id}}0>NO</option>
                            <option value={{script.prescription_id}}1>YES</option>
                          </select>
                        </div>
                          <div class="submit">
                        <button class="btn btn-default" type="submit">Update</button>
                          </div>
                      </form>
                      {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

  {% endif %}
{% endblock %}
