{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}tripmetic - Login{% endblock %}

{% block page_content %}
<div class="page-header">
  <h1>Customer Login</h1>
</div>
<div class="col-md-4">
  {{ wtf.quick_form(form) }}
  <br>
  <p>
      New Customer?
      <a href="{{ url_for('auth.register_customer') }}">
        <br>Create an Account.
      </a>
      <br>
      <br>Not a Customer?
        <a href="{{ url_for('auth.agentlogin') }}">
          <br> Login as Agent.
        </a>
        <a href="{{ url_for('auth.partnerlogin') }}">
          <br> Login as Partner.
        </a>
  </p>
</div>
{% endblock %}
