{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}HealthHub - Schedule{% endblock %}
{% block head %}
{{ super() }}
<meta charset='utf-8'>
<title>Calendar</title>
<style type="text/css">

  .container {
    /* margin-left: 50px;
    margin-right: 10px; */
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .col {
    width: 50px;
  }

  #header, i.fa, #weekdays, #form-container {
    color: white;
    text-align: center;
  }

  i.fa {
    text-align: center;
  }

  #header {
    color: white;
    text-align: center;
  }

  #calendar {
    z-index: 900;
    padding: 0;
    margin: 0;
  }

  body {
    background: rgba(50, 50, 50, 1) !important;
    color: white;
    /* opacity: .; */
  }

  #pad {
    padding: 2%;
  }

  #hourly {
      height: 100px;
  }

  #scheduling-blocks {
    overflow: auto !important;
    background: rgba(70, 70, 70, 1) !important;
    display: block;
    height: 500px;
  }

  .appointment-label {
    height:100px;
    position: relative;

  }
  /* #weekdays {
    border-bottom: 10px rgba(10, 10, 10, 1) !important;
  } */

</style>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script  src="{{ url_for('static', filename= 'js/moment.min.js') }}"></script>
<!-- <script src="https://unpkg.com/vuex"></script> -->
{% endblock %}
{% block page_content %}
<body>
  <div id = "appointment" class = "container-fluid">
    <div id = "pad" class = "row"></div>
    <div id = "calendar" class = "col-md-9">
      <div id = "header" class = "row">
        <div id = "empty" class = "col-md-1"></div>
        <div id = "prev_button" class = "col-md-3">
          <button v-on:click = "updateDaysPrev">
            <i class = "fa fa-toggle-left fa-2x"></i>
          </button>
        </div>
        <div id = "month" class = "col-md-5">
          <h1>{a days_of_week[days_of_week.length - 1].date.format("MMMM") a}</h1>
        </div>
        <div id = "next_button" class = "col-md-3">
          <button v-on:click = "updateDaysNext">
            <i class = "fa fa-toggle-right fa-2x"></i>
          </button>
        </div>
      </div>
      <div id = "weekdays" class = "row">
        <!-- <span class="border-bottom"></span> -->
        <div id = "time" class = "col-md-1">
        </div>
        <div class = "col" v-for="item in days_of_week"
              v-bind:key="item.id"
              v-bind:item="item">
              <h4>{a (item.date.format("ddd")).toUpperCase() a}</h4>
              <h4>{a item.date.format("D") a}</h4>
        </div>
      </div>
      <div id = "scheduling-blocks" class = "container border-top">
        <div id = "time" class = "col-md-1">
          <div id = "hourly" class = "row" v-for="id in hour_of_day">
            {a id a}
          </div>
        </div>
          <div id = "calendar-table" class = "col-md-11">
            <div class = "col weekday" id = "weekday" v-for="item in days_of_week"
                  v-bind:key="item.id"
                  v-bind:item="item"
                  v-on:click = "createDiv"
                  >
            </div>
          </div>
        </div>
      </div>
    <div id = "form-container" class = "col-md-3">
      <div class = "row appointment-label text-center">
        <h3>Appointment Form</h3>
      </div>
      <div id = "form">
          {{ wtf.quick_form(form) }}
      </div>
  </div>

  <script type="text/javascript">

    // Each column will have a function that works on click
    //Step 1: create background + date finder (range, setter)
    // Add the date number, use the moment package
    // When it is clicked, it will identify the position and snap to the line
    // After which it will add that information to the schedule (if the area has a click)
    // It will prevent the user from clicking (and that's it)
    // (Next thing to do is the clicking canvas)

    var ar_times = ([...Array(24).keys()]).map(val => val + ":00")
    // var js_times = ar_times.map()
    var days_in_week = function() {
      var days_sub = Array()
      for (i=0; i<7;i++){
        days_sub.push((moment().add(i,"days")))
      }
      return days_sub
    }

    console.log(days_in_week())

    var moment_days = [...Array(7)]
    //Start day should be 0, then when it itterates, see day of week and end
    //iteration when it hits the next 0

    var days_in_week = days_in_week()

    var today = moment().startOf('day').fromNow()
    console.log(today)
    console.log(moment().date())
    console.log(moment().day(0).date())
    //simply go moment() + 7 for each div

    var select_month = (moment().format("MMMM")).toUpperCase()

    console.log(days_in_week)

    var cal = new Vue({
      el: '#calendar',
      data: {
        days_of_week : [
          {id: 0, date: moment()},
          {id: 1, date: moment().add(1,"days")},
          {id: 2, date: moment().add(2,"days")},
          {id: 3, date: moment().add(3,"days")},
          {id: 4, date: moment().add(4,"days")},
          {id: 5, date: moment().add(5,"days")},
          {id: 6, date: moment().add(6,"days")}
        ],
        hour_of_day : ar_times
      },
      methods: {
        updateDaysNext : function() {
          //fancy maths to get back to Sunday Centered
          var itter
          if (this.days_of_week[0].date.day() != 0) {
            itter = 7 - this.days_of_week[0].date.day()
          } else {
            itter = 7
          }
          for(i=0; i < this.days_of_week.length; i++) {
            this.days_of_week[i].date.add(itter,"days")
          }
          console.log(this.days_of_week)
          this.$forceUpdate()
          return this.days_of_week
        },
        updateDaysPrev : function() {
          var itter
          if (this.days_of_week[0].date > moment()) {
            var difference = this.days_of_week[0].date.dayOfYear() - moment().dayOfYear()
            var year_difference = this.days_of_week[0].date.year() - moment().year()
            if (difference > 7 || year_difference >= 1){
              itter = 7
              for(i=0; i < this.days_of_week.length; i++) {
                this.days_of_week[i].date.subtract(itter,"days")
              }
              console.log(this.days_of_week)
              this.$forceUpdate()
              return this.days_of_week
            } else {
              itter = difference
              for(i=0; i < this.days_of_week.length; i++) {
                this.days_of_week[i].date.subtract(itter,"days")
              }
              console.log(this.days_of_week)
              this.$forceUpdate()
              return this.days_of_week
            }
          }
        },
        createDiv : function () {
          var child = document.getElementById("newappointment")
          this.parentNode.removeChild(child)
          var div = document.createElement("div")
          div.setAttribute("id", "newappointment")
          div.style.backgroundColor = "red";
          div.style.left = 5;
          div.style.top = 10;
          this.appendChild(div)
          console.log(div)
        }
      },
      delimiters: ['{a','a}']
    })

    var node_value = document.getElementById('physician').value
    console.log(node_value)

    function update() {
      var taken_schedules = Array(0)
      {% for events in physician_schedule %}
        {% if events.user_id == node_value %}
          taken_schedules.push("{{events.start_time}}")
        {% endif %}
      {% endfor %}
      //ordered
      //Operating hours in moment()
      moment().isBetween()
      var moment_array = Array(0)
      var curr_month = moment().format("MM")
      var curr_year = moment().format("YYYY")
      var curr_day = moment().format("DD")
      var now_time = moment(curr_year + "-" + curr_month + "-" + curr_day + " " + "07:00:00", "YYYY-MM-DD HH:mm:ss")
      console.log(now_time.add(1, "days").format("YYYY-MM-DD HH:mm:ss"))
      var quit = parseFloat(moment().endOf("month").format("D"))
      for(i = 0; i < quit; i++) {
        if (i != 0){
        var now_updated = now_time.add(1, "days").subtract(11, "hours")
      } else {
        var now_updated = now_time
      }
        for(j=0; j < 22 ; j++){
          now_updated = now_updated.add(30,'minutes')
          console.log(now_updated.format("YYYY-MM-DD HH:mm:ss"))
          moment_array.push(now_updated.format("YYYY-MM-DD HH:mm:ss"))
        }
      }
      console.log(taken_schedules)
      // console.log(taken_schedules.map(value => value + " "))
      // console.log(taken_schedules.map(value => moment(value,"YYYY-MM-DD HH:mm:ss").format("YYYY-MM-DD HH:mm:ss")))
      var new_array = Array(0)
      for(i = 0; i < moment_array.length; i++){
        // console.log(moment_array[i].format("YYYY-MM-DD HH:mm:ss"))
        // console.log(moment_array[i])
        if (taken_schedules.indexOf(moment_array[i]) == -1)  {
          new_array.push(moment_array[i])
          console.log(moment_array[i])
        }
      }
      var selected = document.getElementById('time_slot')
      var length = selected.options.length;
      while (selected.firstChild){
        selected.removeChild(selected.firstChild)
      }
      // for (i = 0; i < length; i++) {
      //   selected.options.remove(i);
      // }
      for (i = 0; i < new_array.length; i++){
        selected.options[selected.options.length] = new Option(new_array[i] + " to " + moment(new_array[i], "YYYY-MM-DD HH:mm:ss").add(30, "minutes").format("YYYY-MM-DD HH:mm:ss"), i)
      }
    }

    document.getElementById("physician").addEventListener("change", update)


  </script>

</body>
{% endblock %}
