{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}HealthHub - Schedule{% endblock %}
{% block head %}
{{ super() }}
<meta charset='utf-8'>
<title>Calendar</title>
  <meta charset="UTF-8">
  <title>CSS-only Colorful Calendar Concept</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/sched_style.css') }}">
{% endblock %}
{% block page_content %}

<body>
<!-- partial:index.partial.html -->
<div class="route" id="index"></div>
<div class="route" id="oct-week-3"></div>
<div class="route" id="oct-week-4"></div>
<div class="route" id="nov-week-1"></div>
<div class="route" id="schedule"></div>
<form class="form-style-9" style = "float:right; width: 70vh" method = "POST" role = "form">
  {{ form.hidden_tag() }}
      {{ wtf.form_field(form.physician, placeholder="Choose your physician") }}
      {{ wtf.form_field(form.purpose, placeholder="Purpose of your visit") }}
      {{ wtf.form_field(form.time_slot, placeholder="Desired time") }}
      {{ wtf.form_field(form.notes, placeholder="Additional notes") }}
      {{ form.submit(type="submit", value="Create", class = "create_forum_button", style = "margin-top:10px;") }}

</form>
  <main class="cal-device">
  <header class="cal-header">
    <div class="cal-subheader"></div>
    <div class="cal-bar">
      <div class="cal-button -left">
        <i class="fa fa-bars -calendar"></i>
        <a href="#index" class="fa fa-chevron-left -schedule"></a>
      </div>
      <div class="cal-title">
        <div class="cal-heading -calendar">Calendar</div>
        <div class="cal-heading -schedule">Wednesday, November 10</div>
      </div>
      <div class="cal-button-right">
        <i class="fa fa-search"></i>
      </div>
    </div>
  </header>
  <section class="cal-app">
    <header class="cal-week">
      {% for day in weekDays %}
        <div class="cal-weekday" style = "background: #34495e">
          {{ day }}
        </div>
      {% endfor %}
    </header>
    <div class="cal-scene -calendar" style = "overflow: scroll">
      {% for weekday in range(7) %}
      <div class="cal-day"></div>
      {% endfor %}
      {% for month in theMonths %}
      <div class="cal-month -{{month[1].lower()}}">
        <header class="cal-header">


        </header>

        {% for i in range(1, month[2]+1) %}

        <a href="#schedule" class="cal-day" id="{{month[0]}}-{{i}}""></a>

        {% endfor %}
      </div>
    {% endfor %}
    <div class="cal-scene -schedule" style="overflow-y:scroll">

      <div class="cal-item">
        <div class="cal-time"><span>09:00</span></div>
        <div class="cal-task">
          <p>wake up</p>
        </div>
      </div>
    </div>
  </section>
</main>
<div class="meta" style = "margin-left: 50%; margin-bottom: 60px;">
  <h1>CSS-only Colorful <br>Calendar Concept</h1>
  <p>
    Dribbble Rework<br />
    Original Shot by <a href="https://dribbble.com/shots/2335073-Calendar-App-Animation" target="_blank">Ludmila Shevchenko</a>
  </p>
  <p>
    Click on the arrows (when enabled) and the highlighted date to see the effect.<br>
    You can also go <strong>back</strong> in your browser to navigate between scenes, or click the left arrow in the schedule view.
  </p>
  <p>
    Works in all modern browsers.
  </p>
</div>
<!-- partial -->

</body>
{% endblock %}
