{% extends "forum/forum_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}HealthHub Home{% endblock %}

{% block page_content %}
<div class = "outer forum">
    <div class="middle">
        <section class="forum_grid">
            <section class="whitebox b1">
              <ul class = "post_container horizontal">
                <li class = "b1_forum">1</li>
                <li class = "b1_forum">2</li>
                <li class = "b1_forum">3</li>
                <li class = "b1_forum">4</li>
                <li class = "b1_forum">5</li>
                <li class = "b1_forum">6</li>
                <li class = "b1_forum">7</li>
                <li class = "b1_forum">8</li>
                <li class = "b1_forum">9</li>
              </ul>


            </section>
            <section class="whitebox b2">
                <ul class = "post_container pushed">
                  <li class = "post">
                    <div class = "post_title_area">
                      <div class = "forum_title">
                      <h3>/cancer</h3>
                      </div>
                      <div class = "post_title">
                      <h3>I caught the cancer</h3>
                      </div>
                    </div>
                    <div class = "post_content">
                      <div class = "post_content_box pushed2">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque leo nisl, viverra ac mauris non, scelerisque iaculis turpis. Donec commodo egestas ex posuere mollis. Nulla fringilla quam nulla, et euismod magna varius sed. In at ante ac tellus placerat luctus quis quis nisi. Proin in hendrerit diam. Maecenas semper purus id quam finibus, non varius elit molestie. Etiam sed feugiat massa. Nam eget tellus sem. Ut sodales laoreet enim quis rhoncus. Vivamus imperdiet felis turpis, nec tincidunt dui elementum sed. Ut eu mi condimentum, scelerisque nibh nec, viverra nunc. Proin viverra feugiat rhoncus. Vestibulum sit amet lobortis nisi. Aenean sit amet lacus orci.

Integer fermentum mi magna, ac ultrices erat efficitur non. Aenean in augue nisl. In hac habitasse platea dictumst. Suspendisse iaculis sit amet neque in dignissim. Cras vulputate, tortor quis bibendum ultrices, urna sapien scelerisque ex, ac molestie est mi at risus. Ut felis velit, ultrices at placerat et, porttitor vitae est. Nunc malesuada congue tellus, eu euismod diam sollicitudin in.

Mauris mauris lectus, mattis vitae neque sit amet, eleifend dignissim neque. Sed ultrices dapibus tincidunt. Cras nibh massa, eleifend eget bibendum et, commodo vehicula elit. Vivamus aliquet lorem in dui blandit, non semper risus fermentum. In venenatis molestie rhoncus. Proin tincidunt mi sit amet euismod dapibus. Curabitur id libero vitae lorem auctor semper. Aliquam vulputate augue vel dolor elementum accumsan. Vestibulum ultrices ex at porta vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent tincidunt malesuada lorem et sodales. In vitae sollicitudin orci. In ut arcu ac diam varius dictum.

Nunc ut eleifend enim. Cras sit amet arcu dignissim, commodo est vel, mattis urna. Morbi fringilla arcu lacus. Maecenas vitae bibendum sapien. Integer id orci a quam vehicula tristique vel eu mauris. Sed id ligula lectus. Fusce vitae felis quis quam vehicula lacinia.</p>
                    </div>
                    </div>

                    <div class = "post_like"></div>
                    <div class = "post_poster">
                      <div class = "post_frame">
                        <img src="{{ url_for('static', filename= 'css/img/doctor_profile_image.png') }}" class="post_img" />
                      <\div>
                    <\div>

                  </li><li class = "post">
                    <div class = "post_title_area">
                      <div class = "forum_title">
                      <h3>/cancer</h3>
                      </div>
                      <div class = "post_title">
                      <h3>I caught the cancer</h3>
                      </div>
                    </div>
                    <div class = "post_content">
                      <div class = "post_content_box pushed2">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque leo nisl, viverra ac mauris non, scelerisque iaculis turpis. Donec commodo egestas ex posuere mollis. Nulla fringilla quam nulla, et euismod magna varius sed. In at ante ac tellus placerat luctus quis quis nisi. Proin in hendrerit diam. Maecenas semper purus id quam finibus, non varius elit molestie. Etiam sed feugiat massa. Nam eget tellus sem. Ut sodales laoreet enim quis rhoncus. Vivamus imperdiet felis turpis, nec tincidunt dui elementum sed. Ut eu mi condimentum, scelerisque nibh nec, viverra nunc. Proin viverra feugiat rhoncus. Vestibulum sit amet lobortis nisi. Aenean sit amet lacus orci.

Integer fermentum mi magna, ac ultrices erat efficitur non. Aenean in augue nisl. In hac habitasse platea dictumst. Suspendisse iaculis sit amet neque in dignissim. Cras vulputate, tortor quis bibendum ultrices, urna sapien scelerisque ex, ac molestie est mi at risus. Ut felis velit, ultrices at placerat et, porttitor vitae est. Nunc malesuada congue tellus, eu euismod diam sollicitudin in.

Mauris mauris lectus, mattis vitae neque sit amet, eleifend dignissim neque. Sed ultrices dapibus tincidunt. Cras nibh massa, eleifend eget bibendum et, commodo vehicula elit. Vivamus aliquet lorem in dui blandit, non semper risus fermentum. In venenatis molestie rhoncus. Proin tincidunt mi sit amet euismod dapibus. Curabitur id libero vitae lorem auctor semper. Aliquam vulputate augue vel dolor elementum accumsan. Vestibulum ultrices ex at porta vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent tincidunt malesuada lorem et sodales. In vitae sollicitudin orci. In ut arcu ac diam varius dictum.

Nunc ut eleifend enim. Cras sit amet arcu dignissim, commodo est vel, mattis urna. Morbi fringilla arcu lacus. Maecenas vitae bibendum sapien. Integer id orci a quam vehicula tristique vel eu mauris. Sed id ligula lectus. Fusce vitae felis quis quam vehicula lacinia.</p>
                    </div>
                    </div>

                    <div class = "post_like"></div>
                    <div class = "post_poster">
                      <div class = "post_frame">
                        <img src="{{ url_for('static', filename= 'css/img/doctor_profile_image.png') }}" class="post_img" />
                      <\div>
                    <\div>

                  </li>
                  <li class = "post">
                    <div class = "post_title_area">
                      <div class = "forum_title">
                      <h3>/cancer</h3>
                      </div>
                      <div class = "post_title">
                      <h3>I caught the cancer</h3>
                      </div>
                    </div>
                    <div class = "post_content">
                      <div class = "post_content_box pushed2">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque leo nisl, viverra ac mauris non, scelerisque iaculis turpis. Donec commodo egestas ex posuere mollis. Nulla fringilla quam nulla, et euismod magna varius sed. In at ante ac tellus placerat luctus quis quis nisi. Proin in hendrerit diam. Maecenas semper purus id quam finibus, non varius elit molestie. Etiam sed feugiat massa. Nam eget tellus sem. Ut sodales laoreet enim quis rhoncus. Vivamus imperdiet felis turpis, nec tincidunt dui elementum sed. Ut eu mi condimentum, scelerisque nibh nec, viverra nunc. Proin viverra feugiat rhoncus. Vestibulum sit amet lobortis nisi. Aenean sit amet lacus orci.

Integer fermentum mi magna, ac ultrices erat efficitur non. Aenean in augue nisl. In hac habitasse platea dictumst. Suspendisse iaculis sit amet neque in dignissim. Cras vulputate, tortor quis bibendum ultrices, urna sapien scelerisque ex, ac molestie est mi at risus. Ut felis velit, ultrices at placerat et, porttitor vitae est. Nunc malesuada congue tellus, eu euismod diam sollicitudin in.

Mauris mauris lectus, mattis vitae neque sit amet, eleifend dignissim neque. Sed ultrices dapibus tincidunt. Cras nibh massa, eleifend eget bibendum et, commodo vehicula elit. Vivamus aliquet lorem in dui blandit, non semper risus fermentum. In venenatis molestie rhoncus. Proin tincidunt mi sit amet euismod dapibus. Curabitur id libero vitae lorem auctor semper. Aliquam vulputate augue vel dolor elementum accumsan. Vestibulum ultrices ex at porta vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent tincidunt malesuada lorem et sodales. In vitae sollicitudin orci. In ut arcu ac diam varius dictum.

Nunc ut eleifend enim. Cras sit amet arcu dignissim, commodo est vel, mattis urna. Morbi fringilla arcu lacus. Maecenas vitae bibendum sapien. Integer id orci a quam vehicula tristique vel eu mauris. Sed id ligula lectus. Fusce vitae felis quis quam vehicula lacinia.</p>
                    </div>
                    </div>

                    <div class = "post_like"></div>
                    <div class = "post_poster">
                      <div class = "post_frame">
                        <img src="{{ url_for('static', filename= 'css/img/doctor_profile_image.png') }}" class="post_img" />
                      <\div>
                    <\div>

                  </li>
                  <li class = "post">
                    <div class = "post_title_area">
                      <div class = "forum_title">
                      <h3>/cancer</h3>
                      </div>
                      <div class = "post_title">
                      <h3>I caught the cancer</h3>
                      </div>
                    </div>
                    <div class = "post_content">
                      <div class = "post_content_box pushed2">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque leo nisl, viverra ac mauris non, scelerisque iaculis turpis. Donec commodo egestas ex posuere mollis. Nulla fringilla quam nulla, et euismod magna varius sed. In at ante ac tellus placerat luctus quis quis nisi. Proin in hendrerit diam. Maecenas semper purus id quam finibus, non varius elit molestie. Etiam sed feugiat massa. Nam eget tellus sem. Ut sodales laoreet enim quis rhoncus. Vivamus imperdiet felis turpis, nec tincidunt dui elementum sed. Ut eu mi condimentum, scelerisque nibh nec, viverra nunc. Proin viverra feugiat rhoncus. Vestibulum sit amet lobortis nisi. Aenean sit amet lacus orci.

Integer fermentum mi magna, ac ultrices erat efficitur non. Aenean in augue nisl. In hac habitasse platea dictumst. Suspendisse iaculis sit amet neque in dignissim. Cras vulputate, tortor quis bibendum ultrices, urna sapien scelerisque ex, ac molestie est mi at risus. Ut felis velit, ultrices at placerat et, porttitor vitae est. Nunc malesuada congue tellus, eu euismod diam sollicitudin in.

Mauris mauris lectus, mattis vitae neque sit amet, eleifend dignissim neque. Sed ultrices dapibus tincidunt. Cras nibh massa, eleifend eget bibendum et, commodo vehicula elit. Vivamus aliquet lorem in dui blandit, non semper risus fermentum. In venenatis molestie rhoncus. Proin tincidunt mi sit amet euismod dapibus. Curabitur id libero vitae lorem auctor semper. Aliquam vulputate augue vel dolor elementum accumsan. Vestibulum ultrices ex at porta vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent tincidunt malesuada lorem et sodales. In vitae sollicitudin orci. In ut arcu ac diam varius dictum.

Nunc ut eleifend enim. Cras sit amet arcu dignissim, commodo est vel, mattis urna. Morbi fringilla arcu lacus. Maecenas vitae bibendum sapien. Integer id orci a quam vehicula tristique vel eu mauris. Sed id ligula lectus. Fusce vitae felis quis quam vehicula lacinia.</p>
                    </div>
                    </div>

                    <div class = "post_like"></div>
                    <div class = "post_poster">
                      <div class = "post_frame">
                        <img src="{{ url_for('static', filename= 'css/img/doctor_profile_image.png') }}" class="post_img" />
                      <\div>
                    <\div>

                  </li>
                  <li class = "post">
                    <div class = "post_title_area">
                      <div class = "forum_title">
                      <h3>/cancer</h3>
                      </div>
                      <div class = "post_title">
                      <h3>I caught the cancer</h3>
                      </div>
                    </div>
                    <div class = "post_content">
                      <div class = "post_content_box pushed2">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque leo nisl, viverra ac mauris non, scelerisque iaculis turpis. Donec commodo egestas ex posuere mollis. Nulla fringilla quam nulla, et euismod magna varius sed. In at ante ac tellus placerat luctus quis quis nisi. Proin in hendrerit diam. Maecenas semper purus id quam finibus, non varius elit molestie. Etiam sed feugiat massa. Nam eget tellus sem. Ut sodales laoreet enim quis rhoncus. Vivamus imperdiet felis turpis, nec tincidunt dui elementum sed. Ut eu mi condimentum, scelerisque nibh nec, viverra nunc. Proin viverra feugiat rhoncus. Vestibulum sit amet lobortis nisi. Aenean sit amet lacus orci.

Integer fermentum mi magna, ac ultrices erat efficitur non. Aenean in augue nisl. In hac habitasse platea dictumst. Suspendisse iaculis sit amet neque in dignissim. Cras vulputate, tortor quis bibendum ultrices, urna sapien scelerisque ex, ac molestie est mi at risus. Ut felis velit, ultrices at placerat et, porttitor vitae est. Nunc malesuada congue tellus, eu euismod diam sollicitudin in.

Mauris mauris lectus, mattis vitae neque sit amet, eleifend dignissim neque. Sed ultrices dapibus tincidunt. Cras nibh massa, eleifend eget bibendum et, commodo vehicula elit. Vivamus aliquet lorem in dui blandit, non semper risus fermentum. In venenatis molestie rhoncus. Proin tincidunt mi sit amet euismod dapibus. Curabitur id libero vitae lorem auctor semper. Aliquam vulputate augue vel dolor elementum accumsan. Vestibulum ultrices ex at porta vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent tincidunt malesuada lorem et sodales. In vitae sollicitudin orci. In ut arcu ac diam varius dictum.

Nunc ut eleifend enim. Cras sit amet arcu dignissim, commodo est vel, mattis urna. Morbi fringilla arcu lacus. Maecenas vitae bibendum sapien. Integer id orci a quam vehicula tristique vel eu mauris. Sed id ligula lectus. Fusce vitae felis quis quam vehicula lacinia.</p>
                    </div>
                    </div>

                    <div class = "post_like"></div>
                    <div class = "post_poster">
                      <div class = "post_frame">
                        <img src="{{ url_for('static', filename= 'css/img/doctor_profile_image.png') }}" class="post_img" />
                      <\div>
                    <\div>

                  </li>
                  <li class = "post">
                    <div class = "post_title_area">
                      <div class = "forum_title">
                      <h3>/cancer</h3>
                      </div>
                      <div class = "post_title">
                      <h3>I caught the cancer</h3>
                      </div>
                    </div>
                    <div class = "post_content">
                      <div class = "post_content_box pushed2">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque leo nisl, viverra ac mauris non, scelerisque iaculis turpis. Donec commodo egestas ex posuere mollis. Nulla fringilla quam nulla, et euismod magna varius sed. In at ante ac tellus placerat luctus quis quis nisi. Proin in hendrerit diam. Maecenas semper purus id quam finibus, non varius elit molestie. Etiam sed feugiat massa. Nam eget tellus sem. Ut sodales laoreet enim quis rhoncus. Vivamus imperdiet felis turpis, nec tincidunt dui elementum sed. Ut eu mi condimentum, scelerisque nibh nec, viverra nunc. Proin viverra feugiat rhoncus. Vestibulum sit amet lobortis nisi. Aenean sit amet lacus orci.

Integer fermentum mi magna, ac ultrices erat efficitur non. Aenean in augue nisl. In hac habitasse platea dictumst. Suspendisse iaculis sit amet neque in dignissim. Cras vulputate, tortor quis bibendum ultrices, urna sapien scelerisque ex, ac molestie est mi at risus. Ut felis velit, ultrices at placerat et, porttitor vitae est. Nunc malesuada congue tellus, eu euismod diam sollicitudin in.

Mauris mauris lectus, mattis vitae neque sit amet, eleifend dignissim neque. Sed ultrices dapibus tincidunt. Cras nibh massa, eleifend eget bibendum et, commodo vehicula elit. Vivamus aliquet lorem in dui blandit, non semper risus fermentum. In venenatis molestie rhoncus. Proin tincidunt mi sit amet euismod dapibus. Curabitur id libero vitae lorem auctor semper. Aliquam vulputate augue vel dolor elementum accumsan. Vestibulum ultrices ex at porta vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent tincidunt malesuada lorem et sodales. In vitae sollicitudin orci. In ut arcu ac diam varius dictum.

Nunc ut eleifend enim. Cras sit amet arcu dignissim, commodo est vel, mattis urna. Morbi fringilla arcu lacus. Maecenas vitae bibendum sapien. Integer id orci a quam vehicula tristique vel eu mauris. Sed id ligula lectus. Fusce vitae felis quis quam vehicula lacinia.</p>
                    </div>
                    </div>

                    <div class = "post_like"></div>
                    <div class = "post_poster">
                      <div class = "post_frame">
                        <img src="{{ url_for('static', filename= 'css/img/doctor_profile_image.png') }}" class="post_img" />
                      <\div>
                    <\div>

                  </li>
                  <li class = "post">
                    <div class = "post_title_area">
                      <div class = "forum_title">
                      <h3>/cancer</h3>
                      </div>
                      <div class = "post_title">
                      <h3>I caught the cancer</h3>
                      </div>
                    </div>
                    <div class = "post_content">
                      <div class = "post_content_box pushed2">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque leo nisl, viverra ac mauris non, scelerisque iaculis turpis. Donec commodo egestas ex posuere mollis. Nulla fringilla quam nulla, et euismod magna varius sed. In at ante ac tellus placerat luctus quis quis nisi. Proin in hendrerit diam. Maecenas semper purus id quam finibus, non varius elit molestie. Etiam sed feugiat massa. Nam eget tellus sem. Ut sodales laoreet enim quis rhoncus. Vivamus imperdiet felis turpis, nec tincidunt dui elementum sed. Ut eu mi condimentum, scelerisque nibh nec, viverra nunc. Proin viverra feugiat rhoncus. Vestibulum sit amet lobortis nisi. Aenean sit amet lacus orci.

Integer fermentum mi magna, ac ultrices erat efficitur non. Aenean in augue nisl. In hac habitasse platea dictumst. Suspendisse iaculis sit amet neque in dignissim. Cras vulputate, tortor quis bibendum ultrices, urna sapien scelerisque ex, ac molestie est mi at risus. Ut felis velit, ultrices at placerat et, porttitor vitae est. Nunc malesuada congue tellus, eu euismod diam sollicitudin in.

Mauris mauris lectus, mattis vitae neque sit amet, eleifend dignissim neque. Sed ultrices dapibus tincidunt. Cras nibh massa, eleifend eget bibendum et, commodo vehicula elit. Vivamus aliquet lorem in dui blandit, non semper risus fermentum. In venenatis molestie rhoncus. Proin tincidunt mi sit amet euismod dapibus. Curabitur id libero vitae lorem auctor semper. Aliquam vulputate augue vel dolor elementum accumsan. Vestibulum ultrices ex at porta vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent tincidunt malesuada lorem et sodales. In vitae sollicitudin orci. In ut arcu ac diam varius dictum.

Nunc ut eleifend enim. Cras sit amet arcu dignissim, commodo est vel, mattis urna. Morbi fringilla arcu lacus. Maecenas vitae bibendum sapien. Integer id orci a quam vehicula tristique vel eu mauris. Sed id ligula lectus. Fusce vitae felis quis quam vehicula lacinia.</p>
                    </div>
                    </div>

                    <div class = "post_like"></div>
                    <div class = "post_poster">
                      <div class = "post_frame">
                        <img src="{{ url_for('static', filename= 'css/img/doctor_profile_image.png') }}" class="post_img" />
                      <\div>
                    <\div>

                  </li>
                  <li class = "post">
                    <div class = "post_title_area">
                      <div class = "forum_title">
                      <h3>/cancer</h3>
                      </div>
                      <div class = "post_title">
                      <h3>I caught the cancer</h3>
                      </div>
                    </div>
                    <div class = "post_content">
                      <div class = "post_content_box pushed2">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque leo nisl, viverra ac mauris non, scelerisque iaculis turpis. Donec commodo egestas ex posuere mollis. Nulla fringilla quam nulla, et euismod magna varius sed. In at ante ac tellus placerat luctus quis quis nisi. Proin in hendrerit diam. Maecenas semper purus id quam finibus, non varius elit molestie. Etiam sed feugiat massa. Nam eget tellus sem. Ut sodales laoreet enim quis rhoncus. Vivamus imperdiet felis turpis, nec tincidunt dui elementum sed. Ut eu mi condimentum, scelerisque nibh nec, viverra nunc. Proin viverra feugiat rhoncus. Vestibulum sit amet lobortis nisi. Aenean sit amet lacus orci.

Integer fermentum mi magna, ac ultrices erat efficitur non. Aenean in augue nisl. In hac habitasse platea dictumst. Suspendisse iaculis sit amet neque in dignissim. Cras vulputate, tortor quis bibendum ultrices, urna sapien scelerisque ex, ac molestie est mi at risus. Ut felis velit, ultrices at placerat et, porttitor vitae est. Nunc malesuada congue tellus, eu euismod diam sollicitudin in.

Mauris mauris lectus, mattis vitae neque sit amet, eleifend dignissim neque. Sed ultrices dapibus tincidunt. Cras nibh massa, eleifend eget bibendum et, commodo vehicula elit. Vivamus aliquet lorem in dui blandit, non semper risus fermentum. In venenatis molestie rhoncus. Proin tincidunt mi sit amet euismod dapibus. Curabitur id libero vitae lorem auctor semper. Aliquam vulputate augue vel dolor elementum accumsan. Vestibulum ultrices ex at porta vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent tincidunt malesuada lorem et sodales. In vitae sollicitudin orci. In ut arcu ac diam varius dictum.

Nunc ut eleifend enim. Cras sit amet arcu dignissim, commodo est vel, mattis urna. Morbi fringilla arcu lacus. Maecenas vitae bibendum sapien. Integer id orci a quam vehicula tristique vel eu mauris. Sed id ligula lectus. Fusce vitae felis quis quam vehicula lacinia.</p>
                    </div>
                    </div>

                    <div class = "post_like"></div>
                    <div class = "post_poster">
                      <div class = "post_frame">
                        <img src="{{ url_for('static', filename= 'css/img/doctor_profile_image.png') }}" class="post_img" />
                      <\div>
                    <\div>

                  </li>
                  <li class = "post">
                    <div class = "post_title_area">
                      <div class = "forum_title">
                      <h3>/cancer</h3>
                      </div>
                      <div class = "post_title">
                      <h3>I caught the cancer</h3>
                      </div>
                    </div>
                    <div class = "post_content">
                      <div class = "post_content_box pushed2">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque leo nisl, viverra ac mauris non, scelerisque iaculis turpis. Donec commodo egestas ex posuere mollis. Nulla fringilla quam nulla, et euismod magna varius sed. In at ante ac tellus placerat luctus quis quis nisi. Proin in hendrerit diam. Maecenas semper purus id quam finibus, non varius elit molestie. Etiam sed feugiat massa. Nam eget tellus sem. Ut sodales laoreet enim quis rhoncus. Vivamus imperdiet felis turpis, nec tincidunt dui elementum sed. Ut eu mi condimentum, scelerisque nibh nec, viverra nunc. Proin viverra feugiat rhoncus. Vestibulum sit amet lobortis nisi. Aenean sit amet lacus orci.

Integer fermentum mi magna, ac ultrices erat efficitur non. Aenean in augue nisl. In hac habitasse platea dictumst. Suspendisse iaculis sit amet neque in dignissim. Cras vulputate, tortor quis bibendum ultrices, urna sapien scelerisque ex, ac molestie est mi at risus. Ut felis velit, ultrices at placerat et, porttitor vitae est. Nunc malesuada congue tellus, eu euismod diam sollicitudin in.

Mauris mauris lectus, mattis vitae neque sit amet, eleifend dignissim neque. Sed ultrices dapibus tincidunt. Cras nibh massa, eleifend eget bibendum et, commodo vehicula elit. Vivamus aliquet lorem in dui blandit, non semper risus fermentum. In venenatis molestie rhoncus. Proin tincidunt mi sit amet euismod dapibus. Curabitur id libero vitae lorem auctor semper. Aliquam vulputate augue vel dolor elementum accumsan. Vestibulum ultrices ex at porta vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent tincidunt malesuada lorem et sodales. In vitae sollicitudin orci. In ut arcu ac diam varius dictum.

Nunc ut eleifend enim. Cras sit amet arcu dignissim, commodo est vel, mattis urna. Morbi fringilla arcu lacus. Maecenas vitae bibendum sapien. Integer id orci a quam vehicula tristique vel eu mauris. Sed id ligula lectus. Fusce vitae felis quis quam vehicula lacinia.</p>
                    </div>
                    </div>

                    <div class = "post_like"></div>
                    <div class = "post_poster">
                      <div class = "post_frame">
                        <img src="{{ url_for('static', filename= 'css/img/doctor_profile_image.png') }}" class="post_img" />
                      <\div>
                    <\div>

                  </li>
                  <li class = "post">
                    <div class = "post_title_area">
                      <div class = "forum_title">
                      <h3>/cancer</h3>
                      </div>
                      <div class = "post_title">
                      <h3>I caught the cancer</h3>
                      </div>
                    </div>
                    <div class = "post_content">
                      <div class = "post_content_box pushed2">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque leo nisl, viverra ac mauris non, scelerisque iaculis turpis. Donec commodo egestas ex posuere mollis. Nulla fringilla quam nulla, et euismod magna varius sed. In at ante ac tellus placerat luctus quis quis nisi. Proin in hendrerit diam. Maecenas semper purus id quam finibus, non varius elit molestie. Etiam sed feugiat massa. Nam eget tellus sem. Ut sodales laoreet enim quis rhoncus. Vivamus imperdiet felis turpis, nec tincidunt dui elementum sed. Ut eu mi condimentum, scelerisque nibh nec, viverra nunc. Proin viverra feugiat rhoncus. Vestibulum sit amet lobortis nisi. Aenean sit amet lacus orci.

Integer fermentum mi magna, ac ultrices erat efficitur non. Aenean in augue nisl. In hac habitasse platea dictumst. Suspendisse iaculis sit amet neque in dignissim. Cras vulputate, tortor quis bibendum ultrices, urna sapien scelerisque ex, ac molestie est mi at risus. Ut felis velit, ultrices at placerat et, porttitor vitae est. Nunc malesuada congue tellus, eu euismod diam sollicitudin in.

Mauris mauris lectus, mattis vitae neque sit amet, eleifend dignissim neque. Sed ultrices dapibus tincidunt. Cras nibh massa, eleifend eget bibendum et, commodo vehicula elit. Vivamus aliquet lorem in dui blandit, non semper risus fermentum. In venenatis molestie rhoncus. Proin tincidunt mi sit amet euismod dapibus. Curabitur id libero vitae lorem auctor semper. Aliquam vulputate augue vel dolor elementum accumsan. Vestibulum ultrices ex at porta vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent tincidunt malesuada lorem et sodales. In vitae sollicitudin orci. In ut arcu ac diam varius dictum.

Nunc ut eleifend enim. Cras sit amet arcu dignissim, commodo est vel, mattis urna. Morbi fringilla arcu lacus. Maecenas vitae bibendum sapien. Integer id orci a quam vehicula tristique vel eu mauris. Sed id ligula lectus. Fusce vitae felis quis quam vehicula lacinia.</p>
                    </div>
                    </div>

                    <div class = "post_like"></div>
                    <div class = "post_poster">
                      <div class = "post_frame">
                        <img src="{{ url_for('static', filename= 'css/img/doctor_profile_image.png') }}" class="post_img" />
                      <\div>
                    <\div>

                  </li>
                  <li class = "post">
                    <div class = "post_title_area">
                      <div class = "forum_title">
                      <h3>/cancer</h3>
                      </div>
                      <div class = "post_title">
                      <h3>I caught the cancer</h3>
                      </div>
                    </div>
                    <div class = "post_content">
                      <div class = "post_content_box pushed2">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque leo nisl, viverra ac mauris non, scelerisque iaculis turpis. Donec commodo egestas ex posuere mollis. Nulla fringilla quam nulla, et euismod magna varius sed. In at ante ac tellus placerat luctus quis quis nisi. Proin in hendrerit diam. Maecenas semper purus id quam finibus, non varius elit molestie. Etiam sed feugiat massa. Nam eget tellus sem. Ut sodales laoreet enim quis rhoncus. Vivamus imperdiet felis turpis, nec tincidunt dui elementum sed. Ut eu mi condimentum, scelerisque nibh nec, viverra nunc. Proin viverra feugiat rhoncus. Vestibulum sit amet lobortis nisi. Aenean sit amet lacus orci.

Integer fermentum mi magna, ac ultrices erat efficitur non. Aenean in augue nisl. In hac habitasse platea dictumst. Suspendisse iaculis sit amet neque in dignissim. Cras vulputate, tortor quis bibendum ultrices, urna sapien scelerisque ex, ac molestie est mi at risus. Ut felis velit, ultrices at placerat et, porttitor vitae est. Nunc malesuada congue tellus, eu euismod diam sollicitudin in.

Mauris mauris lectus, mattis vitae neque sit amet, eleifend dignissim neque. Sed ultrices dapibus tincidunt. Cras nibh massa, eleifend eget bibendum et, commodo vehicula elit. Vivamus aliquet lorem in dui blandit, non semper risus fermentum. In venenatis molestie rhoncus. Proin tincidunt mi sit amet euismod dapibus. Curabitur id libero vitae lorem auctor semper. Aliquam vulputate augue vel dolor elementum accumsan. Vestibulum ultrices ex at porta vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent tincidunt malesuada lorem et sodales. In vitae sollicitudin orci. In ut arcu ac diam varius dictum.

Nunc ut eleifend enim. Cras sit amet arcu dignissim, commodo est vel, mattis urna. Morbi fringilla arcu lacus. Maecenas vitae bibendum sapien. Integer id orci a quam vehicula tristique vel eu mauris. Sed id ligula lectus. Fusce vitae felis quis quam vehicula lacinia.</p>
                    </div>
                    </div>

                    <div class = "post_like"></div>
                    <div class = "post_poster">
                      <div class = "post_frame">
                        <img src="{{ url_for('static', filename= 'css/img/doctor_profile_image.png') }}" class="post_img" />
                      <\div>
                    <\div>

                  </li>
                  <li class = "post">
                    <div class = "post_title_area">
                      <div class = "forum_title">
                      <h3>/cancer</h3>
                      </div>
                      <div class = "post_title">
                      <h3>I caught the cancer</h3>
                      </div>
                    </div>
                    <div class = "post_content">
                      <div class = "post_content_box pushed2">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque leo nisl, viverra ac mauris non, scelerisque iaculis turpis. Donec commodo egestas ex posuere mollis. Nulla fringilla quam nulla, et euismod magna varius sed. In at ante ac tellus placerat luctus quis quis nisi. Proin in hendrerit diam. Maecenas semper purus id quam finibus, non varius elit molestie. Etiam sed feugiat massa. Nam eget tellus sem. Ut sodales laoreet enim quis rhoncus. Vivamus imperdiet felis turpis, nec tincidunt dui elementum sed. Ut eu mi condimentum, scelerisque nibh nec, viverra nunc. Proin viverra feugiat rhoncus. Vestibulum sit amet lobortis nisi. Aenean sit amet lacus orci.

Integer fermentum mi magna, ac ultrices erat efficitur non. Aenean in augue nisl. In hac habitasse platea dictumst. Suspendisse iaculis sit amet neque in dignissim. Cras vulputate, tortor quis bibendum ultrices, urna sapien scelerisque ex, ac molestie est mi at risus. Ut felis velit, ultrices at placerat et, porttitor vitae est. Nunc malesuada congue tellus, eu euismod diam sollicitudin in.

Mauris mauris lectus, mattis vitae neque sit amet, eleifend dignissim neque. Sed ultrices dapibus tincidunt. Cras nibh massa, eleifend eget bibendum et, commodo vehicula elit. Vivamus aliquet lorem in dui blandit, non semper risus fermentum. In venenatis molestie rhoncus. Proin tincidunt mi sit amet euismod dapibus. Curabitur id libero vitae lorem auctor semper. Aliquam vulputate augue vel dolor elementum accumsan. Vestibulum ultrices ex at porta vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent tincidunt malesuada lorem et sodales. In vitae sollicitudin orci. In ut arcu ac diam varius dictum.

Nunc ut eleifend enim. Cras sit amet arcu dignissim, commodo est vel, mattis urna. Morbi fringilla arcu lacus. Maecenas vitae bibendum sapien. Integer id orci a quam vehicula tristique vel eu mauris. Sed id ligula lectus. Fusce vitae felis quis quam vehicula lacinia.</p>
                    </div>
                    </div>

                    <div class = "post_like"></div>
                    <div class = "post_poster">
                      <div class = "post_frame">
                        <img src="{{ url_for('static', filename= 'css/img/doctor_profile_image.png') }}" class="post_img" />
                      <\div>
                    <\div>

                  </li>
                  <li class = "post">
                    <div class = "post_title_area">
                      <div class = "forum_title">
                      <h3>/cancer</h3>
                      </div>
                      <div class = "post_title">
                      <h3>I caught the cancer</h3>
                      </div>
                    </div>
                    <div class = "post_content">
                      <div class = "post_content_box pushed2">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque leo nisl, viverra ac mauris non, scelerisque iaculis turpis. Donec commodo egestas ex posuere mollis. Nulla fringilla quam nulla, et euismod magna varius sed. In at ante ac tellus placerat luctus quis quis nisi. Proin in hendrerit diam. Maecenas semper purus id quam finibus, non varius elit molestie. Etiam sed feugiat massa. Nam eget tellus sem. Ut sodales laoreet enim quis rhoncus. Vivamus imperdiet felis turpis, nec tincidunt dui elementum sed. Ut eu mi condimentum, scelerisque nibh nec, viverra nunc. Proin viverra feugiat rhoncus. Vestibulum sit amet lobortis nisi. Aenean sit amet lacus orci.

Integer fermentum mi magna, ac ultrices erat efficitur non. Aenean in augue nisl. In hac habitasse platea dictumst. Suspendisse iaculis sit amet neque in dignissim. Cras vulputate, tortor quis bibendum ultrices, urna sapien scelerisque ex, ac molestie est mi at risus. Ut felis velit, ultrices at placerat et, porttitor vitae est. Nunc malesuada congue tellus, eu euismod diam sollicitudin in.

Mauris mauris lectus, mattis vitae neque sit amet, eleifend dignissim neque. Sed ultrices dapibus tincidunt. Cras nibh massa, eleifend eget bibendum et, commodo vehicula elit. Vivamus aliquet lorem in dui blandit, non semper risus fermentum. In venenatis molestie rhoncus. Proin tincidunt mi sit amet euismod dapibus. Curabitur id libero vitae lorem auctor semper. Aliquam vulputate augue vel dolor elementum accumsan. Vestibulum ultrices ex at porta vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent tincidunt malesuada lorem et sodales. In vitae sollicitudin orci. In ut arcu ac diam varius dictum.

Nunc ut eleifend enim. Cras sit amet arcu dignissim, commodo est vel, mattis urna. Morbi fringilla arcu lacus. Maecenas vitae bibendum sapien. Integer id orci a quam vehicula tristique vel eu mauris. Sed id ligula lectus. Fusce vitae felis quis quam vehicula lacinia.</p>
                    </div>
                    </div>

                    <div class = "post_like">

                    </div>
                    <div class = "post_poster">
                      <div class = "post_frame">
                        <img src="{{ url_for('static', filename= 'css/img/doctor_profile_image.png') }}" class="post_img" />
                      <\div>
                    <\div>

                  </li>
                </ul>

            </section>
            <section class="whitebox b3">

            </section>
            <section class="whitebox b4">

            </section>


        </section>
    </div>
</div>


{% endblock %}
