{% extends "forum/forum_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}HealthHub Home{% endblock %}

{% block page_content %}
<div class = "outer forum">
    <div class="middle">
        <section class="forum_grid">
            <section class="whitebox b1">

            </section>
            <section class="whitebox b2">
                
            </section>
            <section class="whitebox b3">
                
            </section>
            <section class="whitebox b4">
            
            </section>


        </section>
    </div>
</div>


{% endblock %}
