{% extends "forum/forum_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}HealthHub Home{% endblock %}

{% block page_content %}
<div class = "outer forum">
    <div class="middle">
        <section class="forum_grid2">
            <section class="whitebox b1">
              <ul class = "post_container christmas">
                <img src="{{ url_for('static', filename= 'css/img/christmas.jpg') }}" class="christmas_img" />
              </ul>

            </section>
            {% if current_user.is_authenticated %}

            <section class="extend2 whitebox b2">
              <ul class = "post_container pushed">
                {% for post in forum_posts %}
                    <li class = "post">
                      <div class = "post_title_area">
                        <div class = "post_title">

                        </div>
                      </div>
                        <div class = "post_content">
                          <div class = "post_content_box pushed2">
                            <p>{{ post[2] }}</p>
                          </div>
                        </div>
                        <div class = "post_like"></div>
                        <div class = "post_poster">
                          <div class = "post_top">
                            <div class = "post_frame">
                              <img src="{{ url_for('static', filename= 'files_uploaded/profile/' + (current_user.user_id)|string + '/icon.png') }}" class="post_img" />
                            </div>
                          </div>
                          <div class = "post_bottom">
                            <h3>{{post[3]}}</h3>
                          </div>
                        </div>
                    </li>
                  {% endfor %}
                </ul>

            {% endif %}
            </section>
            <section class="extend3 whitebox b3">
              <div class = "profile_container">
                <div class = "profile_pic">
                </div>
              </div>

            </section>
            <section class="extend4 whitebox b4">

            </section>


              <form class="whitebox post-form" method = "post" role = "form">
      					{{ form.hidden_tag() }}
                {{ wtf.form_field(form.text, rows = "5", cols = "60", type="text", id="textboxid", onkeyup="countChar(this)", class="textbox post_field pushed2", placeholder="Write a post...", maxlength="250") }}
                <div id="charNum">250/250</div>
                {{ form.submit(type="submit", value="Post", class = "post_submit") }}
      				</form>


        </section>
    </div>
</div>
<script>
  function countChar(val) {
        var len = val.value.length;
        if (len >= 500) {
          val.value = val.value.substring(0, 500);
        } else {
          $('#charNum').text((250 - len).toString() + "/250");
        }
      };
</script>

{% endblock %}
