{% extends "forum/forum_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}HealthHub Home{% endblock %}

{% block page_content %}
<div class = "outer forum">
    <div class="middle">
        <section class="forum_grid2">
            <section class="whitebox b1">
              <ul class = "post_container christmas">
                <img src="{{ url_for('static', filename= 'css/img/christmas.jpg') }}" class="christmas_img" />
              </ul>

            </section>
            {% if current_user.is_authenticated %}

            <section class="extend2 whitebox b2">
              <li class = "post">
                <div class = "post_title_area">
                  <div class = "post_title">

                  </div>
                </div>
                  <div class = "post_content">
                    <div class = "post_content_box pushed2">
                      <p>{{ curr_post[0].content }}</p>
                    </div>
                  </div>
                  <div class = "post_like">
                    <div class = "reply_btn">
                      <a href = "{{ url_for('forum.page', forum_name = curr_forum.forum_name) }}" class="fa fa-reply" style="color: #378de5; font-size: 1.5rem;"></a>
                    </div>
                    <div class = "like_btn">
                      {% if current_user.liked(curr_post[0].post_id) %}
                      <form action="{{ url_for('forum.page_post', forum_name = curr_forum.forum_name, post_id = curr_post[0].post_id) }}" method="POST" enctype="multipart/form-data">
                          <input type="hidden" name="unlike" value="{{curr_post[0].post_id}}" />
                          <input id = "submit" name = "submit" type = "submit" class="fa fa-thumbs-up fa-input" style="background-color: transparent; border-color: transparent; color: #378de5; font-size: 1.5rem;" value = "&#xf164" >
                        </input>
                      </form>
                      {% else %}
                      <form action="{{ url_for('forum.page_post', forum_name = curr_forum.forum_name, post_id = curr_post[0].post_id) }}" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="like" value="{{curr_post[0].post_id}}" />
                        <input id = "submit" name = "submit"  type = "submit" class="fa fa-thumbs-up fa-input" style="background-color: transparent; border-color: transparent; color: #666666; font-size: 1.5rem;" value = "&#xf164"></input>
                      </form>
                      {% endif %}
                    </div>
                    <div class = "like_num">
                      <div>
                      <p4>{{count_likes}}</p4>
                      </div>
                    </div>
                  </div>
                  <div class = "post_poster">
                    <div class = "post_top">
                      <div class = "post_frame">
                        <img src="{{ url_for('static', filename= 'files_uploaded/profile/' + (current_user.user_id)|string + '/icon.png') }}" class="post_img" />
                      </div>
                    </div>
                    <div class = "post_bottom">
                      <p3>{{ curr_post[1].username }}</p3>
                    </div>
                  </div>
              </li>
              <ul class = "post_container pushed">
                <div class = "hello" style = "overflow-y: scroll">
                  {% for react, pro in curr_comments %}
                  <li class = "comment_bawx">
                    <div class = "reply_icon">
                      <div class = "reply_name">
                        {{ pro.username }}
                      </div>
                      <div class = "retweet">

                      </div>
                    </div>
                    <div class = "bubble-container">
                      <div class = "speech-bubble">
                        {{ react.comment }}
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                </div>
              </ul>

            {% endif %}
            </section>
            <section class="extend3 whitebox b3">
              <div class = "forum_profile_container">
                <div class = "forum_prof_top christmas">
                  <img src="{{ url_for('static', filename= 'css/img/christmas_balls.png') }}" class="xmas_img" />
                </div>
                <div class = "sub">
                  <form action="{{ url_for('forum.page', forum_name=curr_forum.forum_name) }}" class = "sub" method="POST" enctype="multipart/form-data">
                    <input class="post_submit sub" id="submit" name="submit" type="submit" value="{{ 'unsubscribe' if subscribed else 'subscribe' }}"> </input>
                  </form>
                </div>
                <div class = "forum_desc desc">
                  {{ curr_forum.description }}
                </div>
                <div class = "forum_name">
                  <h1>{{ curr_forum.forum_name }}</h1>
                </div>
                <div class = "forum_info">
                  <div class = "forum_subs">
                    <h4>Subs: {{ forum_members | length }}</h4>
                  </div>
                  <div class = "forum_posts">
                    <h4>Post: {{ tot_posts }}</h4>
                  </div>
                  <div class = "forum_likes">
                    <h4>Likes: {{ tot_likes }}</h4>
                  </div>

                </div>
              </div>

            </section>
            <section class="extend4 whitebox b4">
              <div class = "forum_members_container">
                <div class = "members_title">
                  <h1> Members </h1>
                </div>
                <div class = "all_members pushed3">
                  <li class = "member_row">
                    {% for mem in forum_members %}
                    <div class = "member">
                      <div class = "member_inner pushed">
                        <img src="{{ url_for('static', filename= 'files_uploaded/profile/' + (current_user.user_id)|string + '/icon.png') }}" class="member_img" />
                      </div>
                    </div>
                    {% endfor %}
                  </li>
                </div>
              </div>
            </section>


              <form class="whitebox post-form" method = "post" role = "form">
      					{{ form.hidden_tag() }}

                {{ wtf.form_field(form.text, rows = "5", cols = "60", type="text", id="textboxid", onkeyup="countChar(this)", class="textbox post_field pushed2", placeholder="Write a comment...", maxlength="150") }}
                <div id="charNum">250/250</div>
                {{ form.submit(type="submit", value="Comment", class = "post_submit") }}
      				</form>


        </section>
    </div>
</div>
<script>
  function countChar(val) {
        var len = val.value.length;
        if (len >= 500) {
          val.value = val.value.substring(0, 500);
        } else {
          $('#charNum').text((250 - len).toString() + "/250");
        }
      };
</script>

{% endblock %}
