{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Create New Prescriptions{% endblock %}
{% block page_content %}
{{ super() }}
<h1>Create New Prescription</h1>
<form class="login100-form validate-form" method = "post" role = "form">
  {{ form.hidden_tag() }}
  <span class="login100-form-title p-b-10">  </span>
            <div class="wrap-input100 validate-input" data-validate = "Add a date in the futurec">
                {{ wtf.form_field(form.expir_date, placeholder="Enter a date", class = "input100") }}
            </div>
            <div class="wrap-input100 validate-input" data-validate = "Whats this for?">
                {{ wtf.form_field(form.description, placeholder="Enter a description", class = "input100") }}
            </div>

  <div class="container-login100-form-btn">
    <div class="wrap-login100-form-btn">

      <div class="login100-form-bgbtn"></div>
      {{ form.submit(class = "login100-form-btn") }}
    </div>
  </div>

{% endblock %}
