{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}HealthHub - Upload Files{% endblock %}
{% block head %}
{{ super() }}
<!DOCTYPE html>
{% endblock %}
{% block content %}
{% if file_exists %}
<script type="text/javascript">
  alert("The file you are tyring to upload already exists.")
</script>
{% endif %}
<div class = "outer center">
  <div class = "general_container whitebox">
    <div class = "fm_title"></div>
    <div class = "fm_grid">
      <div class = "fm_top">
        {% if current_user.role_id != 5 %}
        <form action='{{ url_for("upload.uploader") }}' method="POST" enctype="multipart/form-data">
          <input type="file" name="file" class= "fm_button">
          <input type="submit" name = "upload"class= "fm_button">
        </form>
        </div>
        {% endif %}
      <div class = "fm_bottom pushed">
        {% for file in files %}
        <li class = "file_li"> {{file}}
          <form action="{{ url_for('files_uploaded.view_pdf', pdf_name=file)}}" method="POST" class="view_button">
           <input type="submit" value = "view" name = "view" style="margin-left: auto; order: 2; padding: 2px; border-radius: 2px; font-size: 10px; margin:5px;" class="form-input-button" id="submit">
         </form>
        </li>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">

</script>
{% endblock %}
