<!doctype html>
<html lang="en-us">
<head>
<meta charset="utf-8">
<title>Like Thumbs Up Svg Png Icon Free Download (#504758) - OnlineWebFonts.COM</title>
<meta name="keywords" content="like thumbs up,like thumbs up,like thumbs up icon download,like thumbs up free icon,like thumbs up png,like thumbs up svg,like thumbs up eps,like thumbs up psd,like thumbs up cdr,(#504758)" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="Content-Language" content="en-us">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
<meta http-equiv="Cache-Control" content="no-transform"/>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.3.2.min.js"></script>
<link rel="stylesheet" href="https://www.onlinewebfonts.com/icon/css/index.css" type="text/css" />
<link rel="stylesheet" type="text/css" media="screen and (min-width: 700px) and (max-width: 1045px)"  href="https://www.onlinewebfonts.com/icon/css/pad.css" />  
<link rel="stylesheet" type="text/css" media="screen and (max-width: 700px)"  href="https://www.onlinewebfonts.com/icon/css/phone.css" />
<script type="text/javascript" src="https://www.onlinewebfonts.com/icon/css/svg.js"></script>
<meta property="og:title" content="Like Thumbs Up Svg" />
<meta property="og:image" content="http://cdn.onlinewebfonts.com/svg/img_504758.png" />
<meta property="og:site_name" content="OnlineWebFonts.COM" />
</head>

<body>
<!--[if (lte IE 6 | lte IE 7 | lte IE 8)]>
<div class="browser">
    OnlineWebFonts.COM no longer supports this version of browser. We suggest that you <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank"> upgrade </a>to a newer version or try a different browser. e.g <a href="http://www.google.com/intl/en/chrome/browser/desktop/" target="_blank">Google Chrome</a>
  </div>
<![endif]-->
<header>
<div id="header">
<div class="header">
<div class="logo">
      <a href="https://www.onlinewebfonts.com/icon" title="Free icon">
      <h1 class="home"><img src="https://www.onlinewebfonts.com/icon/css/logo.png" width="226" height="70" alt="online web fonts"></h1>
      </a>
</div>
<div class="menu">
<i id="menu" class="i-viewlist"></i>
<div class="menu_list">
<h2><a class="a" href="https://www.onlinewebfonts.com/" target="_blank">Fonts</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/tools" target="_blank">Png to Svg</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_all">All icons</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/tools-svg-edit" target="_blank">Svg Edit Tools</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/packs">Icon Packs</a></h2>
<hr/>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_animals">Animals</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_arrows">Arrows</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_art">Art</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_buildings">Buildings</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_business">Business</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_charts">Charts</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_cinema">Cinema</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_clothes">Clothes</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_commerce">Commerce</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_controls">Controls</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_fashion">Fashion</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_food">Food</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_gestures">Gestures</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_interface">Interface</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_logo">Logo</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_medical">Medical</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_monuments">Monuments</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_multimedia">Multimedia</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_music">Music</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_nature">Nature</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_networking">Networking</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_other">Other</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_people">People</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_shapes">Shapes</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_signs">Signs</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_social">Social</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_sports">Sports</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_technology">Technology</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_tools">Tools</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_transport">Transport</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_utensils">Utensils</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_weapons">Weapons</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_weather">Weather</a></h2>
<h2><a class="a" href="https://www.onlinewebfonts.com/icon/svg_web">Web</a></h2></div>
</div>
<div class="search">
        <form action="https://www.onlinewebfonts.com/icon/search" method="get">
  <input name="q" class="keywords" type="text" value="" placeholder="e.g. Frutiger, weddings, script"/>
  <button class="submit" type="submit"><i class="i-search"></i>Search</button>
  </form>
</div>
<div class="box">

<div class="user">
<i id="openuser" class="i-user1"></i>
 <div class="userbox">
<form>
<div class="input"><i class="i-mail"></i><input id="email" type="email" value="" placeholder="E-mail"/></div>
<div class="input"><i class="i-key"></i><input id="password" type="password" value="" placeholder="Password"/></div>
<input class="loginsubmit" type="submit" value="Log in"/>
</form>
<div class="signinwith"> <a href="https://www.onlinewebfonts.com/api/google_login.html" class="google" target="_blank" title="sign in with google"><i class="i-google"></i></a>
<a href="https://www.onlinewebfonts.com/api/facebook_login.html" class="facebook" target="_blank" title="sign in with facebook"><i class="i-facebook"></i></a> </div>
<a class="register" href="https://www.onlinewebfonts.com/register" target="_blank">Don't have a account? Sign up now</a>
</div>
</div>
<div class="downloadbox">
  <div class="box_title"><font>My Icons</font><i id="downloadbox" class="i-download2"></i><span>0</span></div>
  <div class="download_list">
    <ul>
<div class="itagb">Nothing to show!<br/>You have to select some <strong>icons</strong>.</div>
</ul>
<div class="format">
  <div class="ck jd">
    <input type="checkbox" id="web" checked />
    <label for="web"><strong>@font-face</strong></label>
  </div>
  <div class="ck">
    <input type="checkbox" id="svg" />
    <label for="svg"><strong>SVG</strong></label>
  </div>
  <div class="ck">
    <input type="checkbox" id="png" />
    <label for="png"><strong>PNG</strong></label>
  </div>
  <div class="ck">
    <input type="checkbox" id="eps" />
    <label for="eps"><strong>EPS</strong></label>
  </div>
  <div class="ck">
    <input type="checkbox" id="cdr" />
    <label for="cdr"><strong>CDR</strong></label>
  </div>
 
</div>
<div class="downloadall">
<div class="removeall"><i class="i-delete" title="Remove All"></i></div>
<div class="save">
  <div class="save_as"><input id="saveas" type="text" value="" placeholder="Save as.."/><small title="Save">Save</small></div>
  <div class="alldb"><i class="i-download1"></i>Donwload</div>
  <div class="as_txt">
</div>
</div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</header><!-- content -->
<div id="content">
  <div class="content">

<div class="view">

<div class="left">
  <h2><i class="i-logo"></i> <strong>Like Thumbs Up Free Icon</strong> </h2>
  <div class="svg_img"><div class="img">
<img style="width: 100%; height: auto; float: left;background-image: none;" src="//cdn.onlinewebfonts.com/svg/img_504758.png" alt="Like Thumbs Up">
  </div></div>
  <div class="ads">
    <div class="ads_google">
    <!-- 728X90-->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 728X90 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-2876400707570643"
     data-ad-slot="7515567615"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>    </div>
  </div>
<div class="svg_info">
<div class="clearfix">
  <div class="clearfix_box">
    <div id="clear" class="a" style="background-color:#00bb9c" data="00bb9c"></div>
    <div id="clear" class="a" style="background-color:#11cd6e" data="11cd6e"></div>
    <div id="clear" class="a" style="background-color:#56abe4" data="56abe4"></div>
    <div id="clear" class="a" style="background-color:#9d55b8" data="9d55b8"></div>
    <div id="clear" class="a" style="background-color:#33475f" data="33475f"></div>
    <div id="clear" class="a" style="background-color:#f4c600" data="f4c600"></div>
    <div id="clear" class="a" style="background-color:#ea8010" data="ea8010"></div>
    <div id="clear" class="a" style="background-color:#eb4f38" data="eb4f38"></div>
    <div id="clear" class="a" style="background-color:#a9b7b7" data="a9b7b7"></div>
    <div id="clear" class="a" style="background-color:#000000" data="000000"></div>
    <div class="b">#</div>
  </div>
</div>
<div class="svg_download">
  <div class="download_svg">
<a href="http://cdn.onlinewebfonts.com/svg/download_504758.png" target="_blank" class="svg_db" title="Like Thumbs Up png"><i class="i-download2"></i>png file</a>
<a href="http://cdn.onlinewebfonts.com/svg/download_504758.svg" target="_blank" class="svg_db" title="Like Thumbs Up svg"><i class="i-download2"></i>svg file</a>
<a href="http://cdn.onlinewebfonts.com/svg/download_504758.eps" target="_blank" class="svg_db" title="Like Thumbs Up eps"><i class="i-download2"></i>eps file</a>
<!--a href="http://cdn.onlinewebfonts.com/svg/download_504758.psd" target="_blank" class="svg_db" title="Like Thumbs Up psd"><i class="i-download2"></i>psd file</a-->
<a href="http://cdn.onlinewebfonts.com/svg/download_504758.cdr" target="_blank" class="svg_db" title="Like Thumbs Up cdr"><i class="i-download2"></i>cdr file</a>
    <div class="svg_db svg_add" data="add" data-id="504758" data-title="like_thumbs"><i class="i-folderadd"></i>add to my icons</div>
    
  </div>
</div>
<div class="base">
<span>Select the size of photo</span>
<div class="base_box">
  <div class="a">
<small>Base 64</small>
<div class="px" data="16">16px</div>
<div class="px" data="32">32px</div>
<div class="px" data="64">64px</div>
<div class="px" data="128">128px</div>
<div class="px" data="56">256px</div>
<div class="px" data="512">512px</div>
  </div>
</div>
</div>
<div class="svg_view">
  <div class="view_svg">
    <div class="dw"><i class="i-size"></i> <a href="https://www.onlinewebfonts.com/icon/svg_people" target="_blank">People</a></div>
    <div class="dw"><i class="i-view"></i> 63786</div>
    <div class="dw"><i class="i-download1"></i> 57260</div>
  </div>
</div>
<div class="tag"><a href="/icon/free_Like" target="_blank" >Like</a>
<a href="/icon/free_Thumbs" target="_blank" >Thumbs</a>
<a href="/icon/free_Up" target="_blank" >Up</a>
</div>  <h3><i class="i-attention"></i> Like Thumbs Up Comments</h3>
<div id="disqus_thread"></div>
<div class="txtalign"></div>
<script type="text/javascript">
(function() {
var d = document, s = d.createElement('script');
s.src = '//onlinewebfonts.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
</div>
</div>

<div class="right">
  <a href="https://www.onlinewebfonts.com/icon/tools" target="_blank" class="upload" title="PNG to SVG"><i class="i-upload"></i><span>Import Icons</span>
      <div class="free">free</div>
    </a>
    
    <div class="ads">
      <div class="ads_google">
      <!--300X250-->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 336X280 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-2876400707570643"
     data-ad-slot="1608634818"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>      </div>
    </div>
    <div class="uploaded_by">
    <div class="userimg"><img src="/style/user.png" width="120" height="120" alt="Jyri"></div>
      <div class="username">@ Jyri</div>      <div class="userinfo">The largest data of free vector icons</div>
<div class="digg">
      <div class="share" data="google"><i class="i-google"></i></div>
      <div class="share" data="facebook"><i class="i-facebook"></i></div>
      <div class="share" data="twitter"><i class="i-twitter"></i></div>
      <div class="share" data="linkedin"><i class="i-linkedin"></i></div>
      <div class="share" data="stumbleupon"><i class="i-stumbleupon"></i></div>
</div>
<div class="callinfo">
  <div class="a"><span>493K</span><i class="i-dbrand"></i></div>
  <div class="a"><span>609</span><i class="i-hot"></i></div>
  <div class="a"><span>105</span><i class="i-share"></i></div>
  <div class="a"><span>953</span><i class="i-people"></i></div>
</div>
    </div>
<div class="follow"><i class="i-fire"></i>follow</div>

<div class="right_t"><i class="i-package"></i>latest add icons packs</div>
<ul class="right_pack">
<li><div class="img"><img src="https://cdn.onlinewebfonts.com/packs/300_3166.png" alt="Valentine S Day Celebration " width="300" height="300"></div>
      <a href="https://www.onlinewebfonts.com/icon/packs_3166" target="_blank">Valentine S Day Celebration Font Pack</a></li>
      <li><div class="img"><img src="https://cdn.onlinewebfonts.com/packs/300_3169.png" alt="Vaping " width="300" height="300"></div>
      <a href="https://www.onlinewebfonts.com/icon/packs_3169" target="_blank">Vaping Font Pack</a></li>
      <li><div class="img"><img src="https://cdn.onlinewebfonts.com/packs/300_3184.png" alt="Web Icons " width="300" height="300"></div>
      <a href="https://www.onlinewebfonts.com/icon/packs_3184" target="_blank">Web Icons Font Pack</a></li>
      </ul>

</div>
</div>

<div class="tag_title">
  <i class="i-upload"></i>
<span>Related Icons</span>
<a href="https://www.onlinewebfonts.com/icon/packs_1688" target="_blank" title="Business Vol icon pack">More...</a></div>

<div class="latesticon">
  <ul>

<li><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504743.png" alt="Computer Man User" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504743" data-title="computer_man"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504743" target="_blank" title="Computer Man User" class="viicon"><i class="i-download" data-title="Computer Man User icon"></i></a>
    </li>
<li><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504744.png" alt="Computer Message Communication" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504744" data-title="computer_message"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504744" target="_blank" title="Computer Message Communication" class="viicon"><i class="i-download" data-title="Computer Message Communication icon"></i></a>
    </li>
<li><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504745.png" alt="Computer Woman User" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504745" data-title="computer_woman"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504745" target="_blank" title="Computer Woman User" class="viicon"><i class="i-download" data-title="Computer Woman User icon"></i></a>
    </li>
<li><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504746.png" alt="Global User Man" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504746" data-title="global_user"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504746" target="_blank" title="Global User Man" class="viicon"><i class="i-download" data-title="Global User Man icon"></i></a>
    </li>
<li><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504747.png" alt="Group Men" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504747" data-title="group_men"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504747" target="_blank" title="Group Men" class="viicon"><i class="i-download" data-title="Group Men icon"></i></a>
    </li>
<li><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504748.png" alt="Group Mixed" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504748" data-title="group_mixed"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504748" target="_blank" title="Group Mixed" class="viicon"><i class="i-download" data-title="Group Mixed icon"></i></a>
    </li>
<li><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504749.png" alt="Group Women" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504749" data-title="group_women"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504749" target="_blank" title="Group Women" class="viicon"><i class="i-download" data-title="Group Women icon"></i></a>
    </li>
<li><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504750.png" alt="Hierarchy People Management" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504750" data-title="hierarchy_people"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504750" target="_blank" title="Hierarchy People Management" class="viicon"><i class="i-download" data-title="Hierarchy People Management icon"></i></a>
    </li>
<li><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504751.png" alt="Hierarchy People Management" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504751" data-title="hierarchy_people"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504751" target="_blank" title="Hierarchy People Management" class="viicon"><i class="i-download" data-title="Hierarchy People Management icon"></i></a>
    </li>
<li><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504752.png" alt="Hierarchy People Management" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504752" data-title="hierarchy_people"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504752" target="_blank" title="Hierarchy People Management" class="viicon"><i class="i-download" data-title="Hierarchy People Management icon"></i></a>
    </li>
<li class="x"><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504753.png" alt="Hierarchy People Management" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504753" data-title="hierarchy_people"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504753" target="_blank" title="Hierarchy People Management" class="viicon"><i class="i-download" data-title="Hierarchy People Management icon"></i></a>
    </li>
<li><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504754.png" alt="Hierarchy People Management" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504754" data-title="hierarchy_people"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504754" target="_blank" title="Hierarchy People Management" class="viicon"><i class="i-download" data-title="Hierarchy People Management icon"></i></a>
    </li>
<li><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504755.png" alt="Hierarchy People Management" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504755" data-title="hierarchy_people"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504755" target="_blank" title="Hierarchy People Management" class="viicon"><i class="i-download" data-title="Hierarchy People Management icon"></i></a>
    </li>
<li><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504756.png" alt="Hierarchy People Management" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504756" data-title="hierarchy_people"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504756" target="_blank" title="Hierarchy People Management" class="viicon"><i class="i-download" data-title="Hierarchy People Management icon"></i></a>
    </li>
<li><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504757.png" alt="Hierarchy People Management Women" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504757" data-title="hierarchy_people"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504757" target="_blank" title="Hierarchy People Management Women" class="viicon"><i class="i-download" data-title="Hierarchy People Management Women icon"></i></a>
    </li>
<li><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504758.png" alt="Like Thumbs Up" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504758" data-title="like_thumbs"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504758" target="_blank" title="Like Thumbs Up" class="viicon"><i class="i-download" data-title="Like Thumbs Up icon"></i></a>
    </li>
<li><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504759.png" alt="Man Add New" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504759" data-title="man_add"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504759" target="_blank" title="Man Add New" class="viicon"><i class="i-download" data-title="Man Add New icon"></i></a>
    </li>
<li><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504760.png" alt="Man Alert Warning" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504760" data-title="man_alert"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504760" target="_blank" title="Man Alert Warning" class="viicon"><i class="i-download" data-title="Man Alert Warning icon"></i></a>
    </li>
<li><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504761.png" alt="Man Cancel Remove" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504761" data-title="man_cancel"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504761" target="_blank" title="Man Cancel Remove" class="viicon"><i class="i-download" data-title="Man Cancel Remove icon"></i></a>
    </li>
<li><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504762.png" alt="Man Gear" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504762" data-title="man_gear"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504762" target="_blank" title="Man Gear" class="viicon"><i class="i-download" data-title="Man Gear icon"></i></a>
    </li>
<li><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504763.png" alt="Man Money Income" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504763" data-title="man_money"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504763" target="_blank" title="Man Money Income" class="viicon"><i class="i-download" data-title="Man Money Income icon"></i></a>
    </li>
<li class="x"><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504764.png" alt="Man Money Income" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504764" data-title="man_money"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504764" target="_blank" title="Man Money Income" class="viicon"><i class="i-download" data-title="Man Money Income icon"></i></a>
    </li>
<li><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504765.png" alt="Man Money Talk" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504765" data-title="man_money"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504765" target="_blank" title="Man Money Talk" class="viicon"><i class="i-download" data-title="Man Money Talk icon"></i></a>
    </li>
<li><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504766.png" alt="Man Speech" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504766" data-title="man_speech"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504766" target="_blank" title="Man Speech" class="viicon"><i class="i-download" data-title="Man Speech icon"></i></a>
    </li>
<li><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504767.png" alt="Man Tick Correct" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504767" data-title="man_tick"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504767" target="_blank" title="Man Tick Correct" class="viicon"><i class="i-download" data-title="Man Tick Correct icon"></i></a>
    </li>
<li><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504768.png" alt="Man User Man" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504768" data-title="man_user"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504768" target="_blank" title="Man User Man" class="viicon"><i class="i-download" data-title="Man User Man icon"></i></a>
    </li>
<li><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504769.png" alt="Man User Man Gear" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504769" data-title="man_user"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504769" target="_blank" title="Man User Man Gear" class="viicon"><i class="i-download" data-title="Man User Man Gear icon"></i></a>
    </li>
<li><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504770.png" alt="Man Warning Talk" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504770" data-title="man_warning"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504770" target="_blank" title="Man Warning Talk" class="viicon"><i class="i-download" data-title="Man Warning Talk icon"></i></a>
    </li>
<li><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504771.png" alt="Men Talking Chat Communication" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504771" data-title="men_talking"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504771" target="_blank" title="Men Talking Chat Communication" class="viicon"><i class="i-download" data-title="Men Talking Chat Communication icon"></i></a>
    </li>
<li><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504772.png" alt="Phone Chart Graph Analytics" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504772" data-title="phone_chart"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504772" target="_blank" title="Phone Chart Graph Analytics" class="viicon"><i class="i-download" data-title="Phone Chart Graph Analytics icon"></i></a>
    </li>
<li><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504773.png" alt="Phone User Man" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504773" data-title="phone_user"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504773" target="_blank" title="Phone User Man" class="viicon"><i class="i-download" data-title="Phone User Man icon"></i></a>
    </li>
<li><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504774.png" alt="Phone User Man" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504774" data-title="phone_user"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504774" target="_blank" title="Phone User Man" class="viicon"><i class="i-download" data-title="Phone User Man icon"></i></a>
    </li>
<li class="x"><img src="https://cdn.onlinewebfonts.com/svg/thumbnails_60_504775.png" alt="Phone User Woman" width="60" height="60">
<a target="_blank" class="dbicon" data-id="504775" data-title="phone_user"><i class="i-folderadd" data-title="Add to MY Icons"></i></a>
<a href="/icon/504775" target="_blank" title="Phone User Woman" class="viicon"><i class="i-download" data-title="Phone User Woman icon"></i></a>
    </li>    
    </ul>
</div>
<div class="tag_title">
<i class="i-fontauto"></i>
<span>latest add fonts</span>
<a href="https://www.onlinewebfonts.com/recent" target="_blank" title="New Fonts">More...</a>
</div>
    
<div class="latestfonts">
  <ul>

<li>
<img src="https://pic.onlinewebfonts.com/image/5ec3d5dd9a9caf9b1ff1063aca980252.jpg" alt="KG Something to Believe In" width="90" height="90">
<a href="/download/5ec3d5dd9a9caf9b1ff1063aca980252" target="_blank" title="KG Something to Believe In" class="dbfonts"><i class="i-view" data-title="KG Something to Believe In Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="KG Something to Believe In">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li>
<img src="https://pic.onlinewebfonts.com/image/cde2477139adf504d0391f104cdf3cb7.jpg" alt="HelveticaNeue W01 35 Thin" width="90" height="90">
<a href="/download/cde2477139adf504d0391f104cdf3cb7" target="_blank" title="HelveticaNeue W01 35 Thin" class="dbfonts"><i class="i-view" data-title="HelveticaNeue W01 35 Thin Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="HelveticaNeue W01 35 Thin">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li>
<img src="https://pic.onlinewebfonts.com/image/ee4c95f7565fb3680d4c438c563e5097.jpg" alt="FreightDispMedium" width="90" height="90">
<a href="/download/ee4c95f7565fb3680d4c438c563e5097" target="_blank" title="FreightDispMedium" class="dbfonts"><i class="i-view" data-title="FreightDispMedium Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="FreightDispMedium">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li>
<img src="https://pic.onlinewebfonts.com/image/aefbc5fe6132ba90c9331e9839826635.jpg" alt="Street - Upper" width="90" height="90">
<a href="/download/aefbc5fe6132ba90c9331e9839826635" target="_blank" title="Street - Upper" class="dbfonts"><i class="i-view" data-title="Street - Upper Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="Street - Upper">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li>
<img src="https://pic.onlinewebfonts.com/image/f53302cc0d76fda66382fbba75db49b8.jpg" alt="Yalta Sans W01 Thin Italic" width="90" height="90">
<a href="/download/f53302cc0d76fda66382fbba75db49b8" target="_blank" title="Yalta Sans W01 Thin Italic" class="dbfonts"><i class="i-view" data-title="Yalta Sans W01 Thin Italic Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="Yalta Sans W01 Thin Italic">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li>
<img src="https://pic.onlinewebfonts.com/image/bb2215d2e83d442cad1d87de30357e4b.jpg" alt="DK Bandolina" width="90" height="90">
<a href="/download/bb2215d2e83d442cad1d87de30357e4b" target="_blank" title="DK Bandolina" class="dbfonts"><i class="i-view" data-title="DK Bandolina Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="DK Bandolina">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li>
<img src="https://pic.onlinewebfonts.com/image/cb01efe453c131c22ebcf4bccad8f5b9.jpg" alt="Aspira W01 Bold Italic" width="90" height="90">
<a href="/download/cb01efe453c131c22ebcf4bccad8f5b9" target="_blank" title="Aspira W01 Bold Italic" class="dbfonts"><i class="i-view" data-title="Aspira W01 Bold Italic Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="Aspira W01 Bold Italic">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li>
<img src="https://pic.onlinewebfonts.com/image/d44cd062428f4aa64090116104070ef7.jpg" alt="KGD Butternug Script" width="90" height="90">
<a href="/download/d44cd062428f4aa64090116104070ef7" target="_blank" title="KGD Butternug Script" class="dbfonts"><i class="i-view" data-title="KGD Butternug Script Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="KGD Butternug Script">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li>
<img src="https://pic.onlinewebfonts.com/image/b3d33855bb4ff8c18fc3a36b8a6420e9.jpg" alt="tight pixel Regular" width="90" height="90">
<a href="/download/b3d33855bb4ff8c18fc3a36b8a6420e9" target="_blank" title="tight pixel Regular" class="dbfonts"><i class="i-view" data-title="tight pixel Regular Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="tight pixel Regular">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li>
<img src="https://pic.onlinewebfonts.com/image/47cc7ab3c18e562a5ce9ff80a5ad02a7.jpg" alt="Inova 13x7 Regular" width="90" height="90">
<a href="/download/47cc7ab3c18e562a5ce9ff80a5ad02a7" target="_blank" title="Inova 13x7 Regular" class="dbfonts"><i class="i-view" data-title="Inova 13x7 Regular Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="Inova 13x7 Regular">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li class="x">
<img src="https://pic.onlinewebfonts.com/image/4119d9c75f6c51209069e607f7d532c5.jpg" alt="HotDiscovery" width="90" height="90">
<a href="/download/4119d9c75f6c51209069e607f7d532c5" target="_blank" title="HotDiscovery" class="dbfonts"><i class="i-view" data-title="HotDiscovery Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="HotDiscovery">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li>
<img src="https://pic.onlinewebfonts.com/image/8d4d3d084cd564d58d31db6195a4c1aa.jpg" alt="3D Blocky W00 Regular" width="90" height="90">
<a href="/download/8d4d3d084cd564d58d31db6195a4c1aa" target="_blank" title="3D Blocky W00 Regular" class="dbfonts"><i class="i-view" data-title="3D Blocky W00 Regular Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="3D Blocky W00 Regular">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li>
<img src="https://pic.onlinewebfonts.com/image/dabbb752b866d3f5ff98666d4ca99ccd.jpg" alt="Grixel Kyrou 5 Wide Bold Xtnd" width="90" height="90">
<a href="/download/dabbb752b866d3f5ff98666d4ca99ccd" target="_blank" title="Grixel Kyrou 5 Wide Bold Xtnd" class="dbfonts"><i class="i-view" data-title="Grixel Kyrou 5 Wide Bold Xtnd Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="Grixel Kyrou 5 Wide Bold Xtnd">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li>
<img src="https://pic.onlinewebfonts.com/image/4657df22cb7d6152e4cab4ce898b8051.jpg" alt="Kelso W00 Bold Oblique" width="90" height="90">
<a href="/download/4657df22cb7d6152e4cab4ce898b8051" target="_blank" title="Kelso W00 Bold Oblique" class="dbfonts"><i class="i-view" data-title="Kelso W00 Bold Oblique Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="Kelso W00 Bold Oblique">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li>
<img src="https://pic.onlinewebfonts.com/image/f80f7571075e29c7141871cbb81b8bf4.jpg" alt="Bed and Breakfast Regular" width="90" height="90">
<a href="/download/f80f7571075e29c7141871cbb81b8bf4" target="_blank" title="Bed and Breakfast Regular" class="dbfonts"><i class="i-view" data-title="Bed and Breakfast Regular Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="Bed and Breakfast Regular">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li>
<img src="https://pic.onlinewebfonts.com/image/e05c4a6a0f54c1ad0a7dad844773c404.jpg" alt="PopCap" width="90" height="90">
<a href="/download/e05c4a6a0f54c1ad0a7dad844773c404" target="_blank" title="PopCap" class="dbfonts"><i class="i-view" data-title="PopCap Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="PopCap">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li>
<img src="https://pic.onlinewebfonts.com/image/dc649999c6f37238924f0ff9f0caa4fe.jpg" alt="Komika Boss V2" width="90" height="90">
<a href="/download/dc649999c6f37238924f0ff9f0caa4fe" target="_blank" title="Komika Boss V2" class="dbfonts"><i class="i-view" data-title="Komika Boss V2 Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="Komika Boss V2">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li>
<img src="https://pic.onlinewebfonts.com/image/3ff8da0795f8090f0cdabb71a605b493.jpg" alt="BrownwoodNFShadow" width="90" height="90">
<a href="/download/3ff8da0795f8090f0cdabb71a605b493" target="_blank" title="BrownwoodNFShadow" class="dbfonts"><i class="i-view" data-title="BrownwoodNFShadow Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="BrownwoodNFShadow">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li>
<img src="https://pic.onlinewebfonts.com/image/4f3288f84ece1d32aa341e286a57abea.jpg" alt="Ventisei" width="90" height="90">
<a href="/download/4f3288f84ece1d32aa341e286a57abea" target="_blank" title="Ventisei" class="dbfonts"><i class="i-view" data-title="Ventisei Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="Ventisei">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li>
<img src="https://pic.onlinewebfonts.com/image/e43db2bd8579aceab4ee7227ca776848.jpg" alt="GoGipsy W00 Italic" width="90" height="90">
<a href="/download/e43db2bd8579aceab4ee7227ca776848" target="_blank" title="GoGipsy W00 Italic" class="dbfonts"><i class="i-view" data-title="GoGipsy W00 Italic Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="GoGipsy W00 Italic">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li>
<img src="https://pic.onlinewebfonts.com/image/34e18be184b3ad78dc5763d1815b79de.jpg" alt="Rhythm W00 One" width="90" height="90">
<a href="/download/34e18be184b3ad78dc5763d1815b79de" target="_blank" title="Rhythm W00 One" class="dbfonts"><i class="i-view" data-title="Rhythm W00 One Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="Rhythm W00 One">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li class="x">
<img src="https://pic.onlinewebfonts.com/image/b26a9e46dc13cb0cee25071b161ed78a.jpg" alt="Extreme Sans W01 Medium Italic" width="90" height="90">
<a href="/download/b26a9e46dc13cb0cee25071b161ed78a" target="_blank" title="Extreme Sans W01 Medium Italic" class="dbfonts"><i class="i-view" data-title="Extreme Sans W01 Medium Italic Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="Extreme Sans W01 Medium Italic">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li>
<img src="https://pic.onlinewebfonts.com/image/efc4d106352e8f946d25b5eb54fec01c.jpg" alt="Soft Ornaments Nine" width="90" height="90">
<a href="/download/efc4d106352e8f946d25b5eb54fec01c" target="_blank" title="Soft Ornaments Nine" class="dbfonts"><i class="i-view" data-title="Soft Ornaments Nine Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="Soft Ornaments Nine">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li>
<img src="https://pic.onlinewebfonts.com/image/756cd947c0698c6d83023d1241e118f4.jpg" alt="DANCING JUICE Bold" width="90" height="90">
<a href="/download/756cd947c0698c6d83023d1241e118f4" target="_blank" title="DANCING JUICE Bold" class="dbfonts"><i class="i-view" data-title="DANCING JUICE Bold Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="DANCING JUICE Bold">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li>
<img src="https://pic.onlinewebfonts.com/image/2fe3a8d9d443673b3544130483b7be2f.jpg" alt="Wyvern Ink" width="90" height="90">
<a href="/download/2fe3a8d9d443673b3544130483b7be2f" target="_blank" title="Wyvern Ink" class="dbfonts"><i class="i-view" data-title="Wyvern Ink Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="Wyvern Ink">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li>
<img src="https://pic.onlinewebfonts.com/image/2a629d07371bf30bf0df7184ec6ce7ba.jpg" alt="Mengelt Basel Antiqua W01 Rg" width="90" height="90">
<a href="/download/2a629d07371bf30bf0df7184ec6ce7ba" target="_blank" title="Mengelt Basel Antiqua W01 Rg" class="dbfonts"><i class="i-view" data-title="Mengelt Basel Antiqua W01 Rg Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="Mengelt Basel Antiqua W01 Rg">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li>
<img src="https://pic.onlinewebfonts.com/image/b33e0a10b106c5913fe1d4c5ce0ce1be.jpg" alt="Comfortaa Light V1" width="90" height="90">
<a href="/download/b33e0a10b106c5913fe1d4c5ce0ce1be" target="_blank" title="Comfortaa Light V1" class="dbfonts"><i class="i-view" data-title="Comfortaa Light V1 Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="Comfortaa Light V1">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li>
<img src="https://pic.onlinewebfonts.com/image/167c6f19bd02ec8bf4854b1e07c2af74.jpg" alt="WLM Pixel Party White Regular" width="90" height="90">
<a href="/download/167c6f19bd02ec8bf4854b1e07c2af74" target="_blank" title="WLM Pixel Party White Regular" class="dbfonts"><i class="i-view" data-title="WLM Pixel Party White Regular Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="WLM Pixel Party White Regular">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li>
<img src="https://pic.onlinewebfonts.com/image/70e9ad781f2901a57dae9c1cddf48824.jpg" alt="Franklin ITC W01 Cn Black It" width="90" height="90">
<a href="/download/70e9ad781f2901a57dae9c1cddf48824" target="_blank" title="Franklin ITC W01 Cn Black It" class="dbfonts"><i class="i-view" data-title="Franklin ITC W01 Cn Black It Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="Franklin ITC W01 Cn Black It">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li>
<img src="https://pic.onlinewebfonts.com/image/4915a6d328d4994e503c4dcdaf4e73c1.jpg" alt="Vesta W01 SemiBold" width="90" height="90">
<a href="/download/4915a6d328d4994e503c4dcdaf4e73c1" target="_blank" title="Vesta W01 SemiBold" class="dbfonts"><i class="i-view" data-title="Vesta W01 SemiBold Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="Vesta W01 SemiBold">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li>
<img src="https://pic.onlinewebfonts.com/image/a925fed430cc82d7aecf72c8092c4052.jpg" alt="Oregano" width="90" height="90">
<a href="/download/a925fed430cc82d7aecf72c8092c4052" target="_blank" title="Oregano" class="dbfonts"><i class="i-view" data-title="Oregano Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="Oregano">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li>
<img src="https://pic.onlinewebfonts.com/image/eefee1d8dcd97e2d55af49c760e3ec8c.jpg" alt="ITC Korinna W01 Extra Bold" width="90" height="90">
<a href="/download/eefee1d8dcd97e2d55af49c760e3ec8c" target="_blank" title="ITC Korinna W01 Extra Bold" class="dbfonts"><i class="i-view" data-title="ITC Korinna W01 Extra Bold Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="ITC Korinna W01 Extra Bold">
<div class="detailsinfo">
</div></div>
</a>
</li>
<li class="x">
<img src="https://pic.onlinewebfonts.com/image/1721faf771d877ce634e1646e70dae0f.jpg" alt="majorL retro Regular" width="90" height="90">
<a href="/download/1721faf771d877ce634e1646e70dae0f" target="_blank" title="majorL retro Regular" class="dbfonts"><i class="i-view" data-title="majorL retro Regular Fonts"></i></a>
<a class="vifonts"><i class="i-review" data-title="Fonts Info"></i>
<div class="font_info" title="majorL retro Regular">
<div class="detailsinfo">
</div></div>
</a>
</li>  </ul>
</div>
  </div>
</div>
<!-- content end -->
<div id="share">
<div class="share" data="google"><i class="i-google"></i></div>
<div class="share" data="facebook"><i class="i-facebook"></i></div>
<div class="share" data="twitter"><i class="i-twitter"></i></div>
<div class="share" data="linkedin"><i class="i-linkedin"></i></div>
<div class="share" data="stumbleupon"><i class="i-stumbleupon"></i></div>
</div><footer>
  <div id="footer">
    <div class="footer">
    <div class="webinfo">
    <div class="title">About Us</div>
    <p>OnlineWebFonts.COM is Internet most popular font online download website,offers more than 8,000,000 desktop and Web font products for you to preview and download.</p>
    <div class="digg">
      <div class="share" data="google"><i class="i-google"></i></div>
      <div class="share" data="facebook"><i class="i-facebook"></i></div>
      <div class="share" data="twitter"><i class="i-twitter"></i></div>
      <div class="share" data="linkedin"><i class="i-linkedin"></i></div>
      <div class="share" data="stumbleupon"><i class="i-stumbleupon"></i></div>
</div>
  </div>
<div class="weblink">
  <div class="title">Resource Links</div>
  <a href="/tools" target="_blank">Submit Fonts</a>
  <a href="/designers" target="_blank">Designers</a>
  <a href="/register" target="_blank">Register</a>
  <a href="/login" target="_blank">Login</a>
  <a id="api" href="http://www.google.com/fonts" target="_blank">Fonts Api</a>
  <a id="privacy">Privacy</a>
  <a id="contactus">Contact Us</a>
  </div>
<div class="subscribe">
  <div class="title">Email Subscribe</div>
  <p>All hd and TTF Fonts, the E-Mail edition. </p>
  <div class="box"><input type="text" value="" placeholder="Email Address"/>
    <i class="mailsubmit">Submit</i>
  </div>
  </div>
 <div class="copyright">
<i class="i-new"></i>
<div class="url">www.onlinewebfonts.com</div>
<p>Designed by OnlineWebFonts and Powered by WordPress</p>
<p class="a">2015 - 2018 - Font All Free </p>
 </div>
 <div class="top"></div>
    </div>
  </div>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-68377923-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
