{% extends "bootstrap/base.html" %}

{% block title %}HealthHub{% endblock %}


{% block head %}
{{ super() }}
{% if not current_user.is_authenticated %}
<meta http-equiv="Refresh" content="0; url={{ url_for('auth.login') }}">
{% else %}
{% endif %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/main.css') }}">
<link 
  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
  rel="stylesheet"  type='text/css'>

{% endblock %}
{% block body %}
<div class="container-general">


{% block navbar %}
<div class="main-menu">
        <ul>
            <li>
                <a href="{{ url_for('main.index') }}">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Home
                    </span>
                </a>
              
            </li>
            <li class="has-subnav">
                <a href="{{ url_for('sched.schedule') }}">
                    <i class="fa fa-calendar fa-2x"></i>
                    <span class="nav-text">
                        Schedule Appointment
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a href="{{ url_for('roomres.reserve') }}">
                   <i class="fa fa-hospital-o fa-2x"></i>
                    <span class="nav-text">
                        Reserve Room
                    </span>
                </a>
                
            </li>
            <li class="has-subnav">
                <a href="#">
                   <i class="fa fa-folder-open fa-2x"></i>
                    <span class="nav-text">
                        Files
                    </span>
                </a>
               
            </li>

            <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-mail-forward fa-2x"></i>
                        <span class="nav-text">
                            Forum
                        </span>
                    </a>
                   
            </li>
            
        </ul>
        <ul class="logout">
            <li>
               <a href="{{ url_for('auth.logout') }}">
                     <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>  
        </ul>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
</div>
{% endblock %}