{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}HealthHub Home{% endblock %}

{% block page_content %}
<div class = "outer">
  <div class="middle" style = "top: 20px;">
      <section class="grid">
          <section class="one visible">
            <h1>This Month's Newsletter</h1>
            <section class = "text_inner">
              If you’re sick with the cold or flu, one bit of advice from doctors is to avoid other people — but for how long?

            WTOP talked with Dr. Glenn Wortmann, director of Infectious Diseases at MedStar Washington Hospital Center about best practices if you don’t feel well or want to try to avoid getting sick.

            It doesn’t matter which winter ailment you have. <br> <br>

            “If you have a runny nose, cough, fever, you should just consider yourself as being infectious to others,” Wortmann said. <br>

            “Unfortunately, about a day before you start feeling sick, you start becoming contagious to others, which is difficult because you don’t know you’re sick,” Wortmann said. <br> <br> Wortmann said the window for when you’re most at risk of infecting others is wide open when you feel worst and begins closing as your ailment lingers.

    “The sicker you get, the more contagious you are. So the day before you get sick, although you’re contagious, you’re not that contagious,” Wortmann said. “Usually after about five days, you’ll won’t be shedding the virus anymore. Each day you’ll be shedding less and less virus and by day five, it’s dropped down to pretty low levels.”

    In addition to avoiding people, Wortmann advises frequent hand washing and covering coughs and sneezes.
            </section>
          </section>
          <section class="two_top">
              <div class="card">
                  <div class="additional">
                      <div class="user-card">
                          <div class="points center">
                              Primary Physician
                          </div>
                          <div class = "image-cropper center">
                              <img src="{{ url_for('static', filename= 'css/img/doctor_profile_image.png') }}"
                              class="img" />
                          </div>
                          <div class="more-info">
                              <h1>Jane Doe</h1>
                              <div class="coords">
                                <span>Lenox Hill Hospital</span>
                                <span>Joined January 2019</span>
                              </div>
                              <div class="coords">
                                <span>General Practitioner</span>
                                <span>NYC, New York, USA</span>
                              </div>
                              <div class="stats">
                                <div>
                                  <div class="title"></div>
                                  <i class="fa2 fa-trophy"></i>
                                  <div class="value">2</div>
                                </div>
                                <div>
                                  <div class="title"></div>
                                  <i class="fa2 fa-gamepad"></i>
                                  <div class="value">27</div>
                                </div>
                                <div>
                                  <div class="title"></div>
                                  <i class="fa2 fa-group"></i>
                                  <div class="value">123</div>
                                </div>
                                <div>
                                  <div class="title"></div>
                                  <i class="fa2 fa-coffee"></i>
                                  <div class="value infinity">∞</div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class = "general">
                          <h1>Jane Doe</h1>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
                      </div>

              </div>



            <!section class = "card_inner">
              <!img src="{{ url_for('static', filename= 'css/img/doctor_profile_image.png') }}"
                class="docpic" />
            <!/section>
          </section>
          <section class="two_bottom pushed">
              <ul class = "post_container pushed">
              {% for top_post in top_p %}
                  <li class = "post">
                    <div class = "post_title_area">
                      <div class = "post_title">
                      <a href="{{ url_for('forum.page', forum_name=top_post[4])}}"><h3>hh/{{ top_post[4] }}</h3></a>
                      </div>
                    </div>
                      <div class = "post_content">
                        <div class = "post_content_box pushed2">
                          <p>{{ top_post[2] }}</p>
                        </div>
                      </div>
                      <div class = "post_like">
                        <div class = "reply_btn">
                          <a href = "{{ url_for('forum.page_post', forum_name = top_post[4] ,post_id = top_post[1]) }}" class="fa fa-reply" style="font-size: 1.5rem;"></a>
                        </div>
                        <div class = "like_btn">
                          {% if current_user.liked(top_post[1]) %}
                          <form action="{{ url_for('forum.home') }}" method="POST" enctype="multipart/form-data">
                              <input type="hidden" name="unlike" value="{{top_post[1]}}" />
                              <input id = "submit" name = "submit" type = "submit" class="fa fa-thumbs-up fa-input" style="background-color: transparent; border-color: transparent; color: #378de5; font-size: 1.5rem;" value = "&#xf164" >
                            </input>
                          </form>
                          {% else %}
                          <form action="{{ url_for('forum.home') }}" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="like" value="{{top_post[1]}}" />
                            <input id = "submit" name = "submit"  type = "submit" class="fa fa-thumbs-up fa-input" style="background-color: transparent; border-color: transparent; color: #666666; font-size: 1.5rem;" value = "&#xf164"></input>
                          </form>
                          {% endif %}
                        </div>
                        <div class = "like_num">
                          <div>
                          <p4>{{top_post[5]}}</p4>
                          </div>
                        </div>
                      </div>

                      <div class = "post_poster">
                        <div class = "post_top">
                          <div class = "post_frame">
                            <img src="{{ url_for('static', filename= 'files_uploaded/profile/default/icon' + (top_post[3][-1]|int % 10)|string + '.png') }}" class="post_img" />
                          </div>
                        </div>
                        <div class = "post_bottom">
                          <h3>{{top_post[3]}}</h3>
                        </div>
                      </div>
                  </li>
                {% endfor %}
                </ul>
          </section>
        </section>
  </div>
</div>


{% endblock %}
