{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}HealthHub Home{% endblock %}

{% block page_content %}
<div class = "outer">
  <div class="middle" style = "top: 20px;">
      <section class="grid">
          <section class="one visible">
            <h1>This Month's Newsletter</h1>
            <section class = "text_inner">
              Revolutionary Civil War Period: “On Practice” and “On Contradiction” 1937

In class society, everyone lives as a member of a particular class, and every kind of thinking, without exception, is stamped with the brand of a class.
“On Practice,” (July 1937), Selected Works, Vol. I, p. 296.

If a man wants to succeed in his work, that is, to achieve the anticipated results, he must bring his ideas into correspondence with the laws of the objective external world; if they do not correspond, he will fail in his practice. After he fails, he draws his lessons, corrects his ideas to make them correspond to the laws of the external world, and can thus turn failure into success; this is what is meant by “failure is the mother of success” and “a fall into the pit, a gain in your wit”.
“On Practice,” (July 1937), Selected Works, Vol. I, pp. 296-97.

The Marxist philosophy of dialectical materialism has two outstanding characteristics. One is its class nature: it openly avows that dialectical materialism is in the service of the proletariat. The other is its practicality: it emphasizes the dependence of theory on practice, emphasizes that theory is based on practice and in turn serves practice.
“On Practice,” (July 1937), Selected Works, Vol. I, p. 297.

Whoever wants to know a thing has no way of doing so except by coming into contact with it, that is, by living (practicing) in its environment. ... If you want knowledge, you must take part in the practice of changing reality. If you want to know the taste of a pear, you must change the pear by eating it yourself.... If you want to know the theory and methods of revolution, you must take part in revolution. All genuine knowledge originates in direct experience.
“On Practice,” (July 1937), Selected Works, Vol. I, pp. 299-300.

Only those who are subjective, one-sided and superficial in their approach to problems will smugly issue orders or directives the moment they arrive on the scene, without considering the circumstances, without viewing things in their totality (their history and their present state as a whole) and without getting to the essence of things (their nature and the internal relations between one thing and another). Such people are bound to trip and fall.
“On Practice,” (July 1937), Selected Works, Vol. I, p. 302.

Knowledge begins with practice, and theoretical knowledge, which is acquired through practice, must then return to practice. The active function of knowledge manifests itself not only in the active leap from perceptual to rational knowledge, but - and this is more important - it must manifest itself in the leap from rational knowledge to revolutionary practice.
“On Practice,” (July 1937), Selected Works, Vol. I, p. 304.

If we have a correct theory but merely prate about it, pigeonhole it and do not put it into practice, then that theory, however good, is of no significance.
“On Practice,” (July 1937), Selected Works, Vol. I, p. 304.

Marxist philosophy holds that the most important problem does not lie in understanding the laws of the objective world and thus being able to explain it, but in applying the knowledge of these laws actively to change the world.
" On Practice,” (July 1937), Selected Works, Vol. I, p. 304.

The fundamental cause of the development of a thing is not external but internal; it lies in the contradictoriness within the thing. This internal contradiction exists in every single thing, hence its motion and development. Contradictoriness within a thing is the fundamental cause of its development, while its interrelations and interactions with other things are secondary causes.
“On Contradiction,” (August 1937), Selected Works, Vol. I, p. 313.

Changes in society are due chiefly to the development of the internal contradictions in society, that is, the contradiction between the productive forces and the relations of production, the contradiction between classes and the contradiction between the old and the new; it is the development of these contradictions that pushes society forward and gives the impetu6 for the suppression of the old society by the new.
“On Contradiction,” (August 1937), Selected Works, Vol. I, p. 314.

It [materialist dialectics] holds that external causes are the condition of change and internal causes are the basis of change, and that external causes become operative through internal causes. In a suitable temperature an egg changes into a chicken, but no temperature can change a stone into a chicken, because each has a different basis.
“On Contradiction,” (August 1937), Selected Works, Vol. I p. 314.

Opposition and struggle between ideas of different kinds constantly occur within the Party; this is a reflection within the Party of contradictions between classes and between the new and the old in society. If there were no contradictions in the Party and no ideological struggles to resolve them, the Party's life would come to an end.
“On Contradiction,” (August 1937), Selected Works, Vol. I, p. 317.

If in any process there are a number of contradictions, one of them must be the principal contradiction playing the leading and decisive role, while the rest occupy a secondary and subordinate position. Therefore, in studying any complex process in which there are two or more contradictions, we must devote every effort to finding its principal contradiction. Once this principal contradiction is grasped, all problems can be readily solved.
“On Contradiction,” (August 1937), Selected Works, Vol. I, p. 332.

Of the two contradictory aspects, one must be principal and the other secondary. The principal aspect is the one playing the leading role in the contradiction. The nature of a thing is determined mainly by the principal aspect of a contradiction, the aspect that has gained the dominant position. But this situation is not static; the principal and the non-principal aspects of a contradiction transform themselves into each other and the nature of the thing changes accordingly.
“On Contradiction,” (August 1937), Selected Works, Vol. I, p. 333.
            </section>
          </section>
          <section class="two_top">
              <div class="card">
                  <div class="additional">
                      <div class="user-card">
                          <div class="points center">
                              Primary Physician
                          </div>
                          <div class = "image-cropper center">
                              <img src="{{ url_for('static', filename= 'css/img/doctor_profile_image.png') }}"
                              class="img" />
                          </div>
                          <div class="more-info">
                              <h1>Jane Doe</h1>
                              <div class="coords">
                                <span>Lenox Hill Hospital</span>
                                <span>Joined January 2019</span>
                              </div>
                              <div class="coords">
                                <span>General Practitioner</span>
                                <span>NYC, New York, USA</span>
                              </div>
                              <div class="stats">
                                <div>
                                  <div class="title">Awards</div>
                                  <i class="fa2 fa-trophy"></i>
                                  <div class="value">2</div>
                                </div>
                                <div>
                                  <div class="title">Matches</div>
                                  <i class="fa2 fa-gamepad"></i>
                                  <div class="value">27</div>
                                </div>
                                <div>
                                  <div class="title">Pals</div>
                                  <i class="fa2 fa-group"></i>
                                  <div class="value">123</div>
                                </div>
                                <div>
                                  <div class="title">Coffee</div>
                                  <i class="fa2 fa-coffee"></i>
                                  <div class="value infinity">∞</div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class = "general">
                          <h1>Jane Doe</h1>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
                      </div>

              </div>



            <!section class = "card_inner">
              <!img src="{{ url_for('static', filename= 'css/img/doctor_profile_image.png') }}"
                class="docpic" />
            <!/section>
          </section>
          <section class="two_bottom pushed">
              <div class="notice info"><p>This is a an info notice, it provides feedback of a neutral nature to the user.</p></div>

              <div class="notice success"><p>This is a success notice, it provides feedback of a positive nature to the user.</p></div>

              <div class="notice warning"><p>This is a warning notice, it provides feedback of a potentially negative nature to the user.</p></div>

              <div class="notice error"><p>This is an error notice, it provides feedback of a negative nature to the user.</p></div>

              <div class="notice error"><p>This is an error notice, it provides feedback of a negative nature to the user.</p></div>
              <div class="notice error"><p>This is an error notice, it provides feedback of a negative nature to the user.</p></div>
              <div class="notice error"><p>This is an error notice, it provides feedback of a negative nature to the user.</p></div>
              <div class="notice error"><p>This is an error notice, it provides feedback of a negative nature to the user.</p></div>
              <div class="notice error"><p>This is an error notice, it provides feedback of a negative nature to the user.</p></div>
              <div class="notice error"><p>This is an error notice, it provides feedback of a negative nature to the user.</p></div>
              <div class="notice error"><p>This is an error notice, it provides feedback of a negative nature to the user.</p></div>
              <div class="notice error"><p>This is an error notice, it provides feedback of a negative nature to the user.</p></div>
              <div class="notice error"><p>This is an error notice, it provides feedback of a negative nature to the user.</p></div>
              <div class="notice error"><p>This is an error notice, it provides feedback of a negative nature to the user.</p></div>
              <div class="notice error"><p>This is an error notice, it provides feedback of a negative nature to the user.</p></div>
              <div class="notice error"><p>This is an error notice, it provides feedback of a negative nature to the user.</p></div>
          </section>
        </section>
  </div>
</div>


{% endblock %}
